[2018-10-24 08:56] teevik opened #2 "Usage with yarn workspaces"
The error:
[code]

---

I'm using yarn workspaces for a monorepo, so all the node_modules is shared in a single folder. My app has a structrue like this:
[code]

Now the problem is that craco looks for the react-scripts files in `coding-tracker/packages/client/node_modules` instead of `coding-tracker/node_modules`

I'm pretty sure that's because `process.cwd()` would be `coding-tracker/packages/cl

[2018-10-25 13:04] patricklafrance commented on #2
Thank you for your bug report and your solution, I will look into this before the end of the week!

[2018-10-25 19:37] endel opened #3 "compatibility with react-scripts-ts?"
Hi there! Thanks for this library.

I'm wondering if it's possible to use it along with [`react-scripts-ts`](https://www.npmjs.com/package/react-scripts-ts), too?

Cheers

[2018-10-25 19:48] endel commented on #3
Read the fucking docs, right? 😅

[I've just missed this:](https://github.com/sharegate/craco/blob/master/packages/craco/README.md#cli-options)

[code]

Thanks a lot!

[2018-10-25 19:48] #3 closed

[2018-10-26 01:46] patricklafrance commented on #2
@teevik I will add support for workspace to make it easier to configure but in the meantime what you can do is:

`craco start --react-scripts ../../../node_modules/react-scripts`

[2018-11-06 18:12] frankspin89 opened #5 "[Support] - How to add less loader"
Thank you for this great plugin.

I'm trying to implement ant.design library with the latest version of create react app and craco. I manged to implement the babel import loader, but i'm currently stuck add implementing the less loader.

Ant design documentation on how to implement less loader
https://ant.design/docs/react/customize-theme
https://ant.design/docs/react/use-with-create-react-app

My

[2018-11-07 01:18] jaredjj3 commented on #5
I've Frankensteined together a `craco.config.js` that accomplishes what you want. This can be extracted into a plugin. I used a fresh install using `react-scripts 2.1.1`.

[code]

[2018-11-07 02:18] patricklafrance commented on #5
@jaredjj3 for information purpose, craco also support a few utility functions to parse the webpack config: https://github.com/sharegate/craco/blob/master/packages/craco/README.md#develop-a-plugin

You could replace:

[code]

[2018-11-07 04:18] patricklafrance opened #7 "Add explicit support for yarn workspaces"
yarn workspaces are currently supported with the CLI command:

`craco start --react-scripts ../../../node_modules/react-scripts`

It should be more explicit, something like:

`craco start --workspace`

[2018-11-07 13:30] patricklafrance opened #8 "Fix spacing issue with our prettier settings"
It seems like there is a problem with the prettier configuration: #4

[2018-11-08 00:44] atdrago opened #9 "Overriding sass includePaths"
Hi there, and thank you for this plugin!

I'm using craco@2.2.0, react-scripts@2.1.1, and node-sass@4.10.0 (all latest as of today)

I'm attempting to "un-eject" from CRA for an existing project, so I came upon your plugin. One of the requirements is that we load a set of theme variables based on an environment variable that is passed in at build time. I'd like to use `includePaths` to direct Sass

[2018-11-08 01:29] fraincs commented on #9
The problem seems to be that color is available as a node module, have you tried renaming your color.scss to something else.

[2018-11-08 02:29] atdrago commented on #9
@fraincs OMG Thank you!!!!! That solved my Sass issue! 🎉

[2018-11-08 02:42] atdrago commented on #9
Just confirming that the above issue still exists. I can't use the following config within uncommenting the commented lines:
[code]

[2018-11-08 13:48] patricklafrance commented on #9
Thank you @atdrago I'll dig into it today!

[2018-11-08 14:22] #9 closed

[2018-11-11 05:40] ndbroadbent opened #12 "How would I go about setting up TypeScript => ES6 => Babel => ES5?"
This came up because when I used `"target": "es5"`, I started getting type errors when I tried to use `Array.from` ("Property 'from' does not exist on type 'ArrayConstructor'").

I'm using TypeScript, so I think I'd like to set `"target": "es6"` so that I can use modern JS features and new methods, and have tree shaking, etc. But I also need backwards compatibility for older browsers, so I think I

[2018-11-11 07:54] ndbroadbent commented on #12
Actually never mind! I just read through the `react-scripts` webpack config and `babel-preset-react-app`, and I discovered that are already doing everything with 100% Babel. (They aren't using `ts-loader` or `awesome-typescript-loader`). Apart from the typechecking - that's run in a different process, but isn't part of the actual webpack build.

So I think everything should just be working out of

[2018-11-11 07:54] #12 closed

[2018-11-12 15:56] ndbroadbent commented on #5
Thanks @jaredjj3! I was about to write the same custom config for Less with Ant Design. And thanks @patricklafrance for mentioning the utility functions. I have to say this is a really well designed tool!

I've modified @jaredjj3's code to use the `getLoader` / `loaderByName` utilities. I've also added some helpful error messages in case something changes when `create-react-app` or `craco` are upd

[2018-11-12 20:40] ndbroadbent commented on #8
Hi, I just found this issue! I was actually wondering where the `printWidth: 5000` option came from. Was that added intentionally, or was the `.prettierrc` copied from a different project? I'm really curious to know why `5,000` was chosen for this setting. Thanks!

[2018-11-12 20:53] lydell commented on #8
https://prettier.io/docs/en/options.html#print-width

[2018-11-13 01:26] patricklafrance commented on #8
Merged #19 to set the print-width to 80. However, this was not the problem of this issue.

This issue is about investigating why cj had whitespaces added to every lines of his PR when using this repo toolings. Than being said, you didn't seem to have those issues or your PR @ndbroadbent.

[2018-11-13 05:58] ndbroadbent commented on #8
@patricklafrance Oh I see, yes I did actually have that as well. I had to manually select the relevant changes. This can be solved by running Prettier on all the files and then committing the whitespace/formatting changes. I can do that now and send another PR

[2018-11-13 06:15] ndbroadbent commented on #8
Oh actually this was a line-ending issue. The codebase has `CRLF` line endings (`\r\n`), and Prettier is formatting files with `LF` line endings (`\n`). So I think is actually a Windows vs. Mac/Linux issue.

I found some Prettier issues about that:

* [#92 - Prettier change all line break to LF](https://github.com/prettier/prettier/issues/92)
* [#5320 - An option to enforce certain line endings (L

[2018-11-13 06:29] ndbroadbent commented on #8
Also I forgot to respond to your comment about the width:

That's fine for me as well! I wouldn't mind if you wanted to set `printWidth` to something like 100 or 150. But setting it to 5,000 caused the formatting problems, because Prettier will never print code on multiple lines if it can all fit on a single line.

[2018-11-13 17:53] patricklafrance opened #21 "Add integration tests that validates if craco is compatible with the latest version of CRA"
Add integration tests that validates if craco is compatible with the latest version of CRA

[2018-11-13 17:54] patricklafrance opened #22 "Use a CI for craco"

[2018-11-13 18:02] yohanb commented on #22
On it!

[2018-11-13 19:34] ndbroadbent commented on #21
I've written a test for `craco-antd`, so that might be helpful as a reference: https://github.com/FormAPI/craco-antd/blob/master/lib/craco-antd.test.js

[2018-11-15 02:15] patricklafrance commented on #8
Fix with the following commit https://github.com/sharegate/craco/commit/3e709c6ebdc308e99e01b963732a43e29fddfb79

In short:

- Added a few tools to enforce CRLF
- Added ESLint linebreak-style
- Added husky + lint-staged to run prettier when files are staged
- prettier should read .editorconfig "end_of_line" key  in the next release: https://github.com/prettier/prettier/pull/5327

[2018-11-15 02:15] #8 closed

[2018-11-15 07:34] lydell commented on #8
Prettier should already read "end_of_line" in .editorconfig since 1.15.0.

[2018-11-15 08:01] ndbroadbent commented on #8
@patricklafrance Awesome, thanks! This should make it much easier for other people to start contributing. I also prefer the 120 chars `printWidth`, that looks better on my screen as well.

[2018-11-15 13:43] patricklafrance commented on #8
@lydell according to this PR https://github.com/prettier/prettier/pull/5327 it was merged 7 days ago.

I haven't test it thought.

[2018-11-15 13:55] patricklafrance opened #28 "Add tests for get the getLoader function"

[2018-11-15 13:56] patricklafrance opened #29 "Add tests for the loaderByName function"

[2018-11-15 13:56] patricklafrance opened #30 "Add tests for the removeLoaders function"

[2018-11-15 14:02] patricklafrance commented on #8
@lydell I should have read the release notes of 1.15.0, you're right the PR made it to 1.15.0!

[2018-11-15 14:13] patricklafrance opened #31 "Add tests for get the getLoaders function"

[2018-11-15 21:08] HasanAyan opened #32 "Is there a list of plugins?"
Hi, thanks for making craco. I adapted react-app-rewire-hot-loader to a craco plugin and thought if you keep a list of plugins this could be useful for others, too.

Here is my plugin: https://github.com/HasanAyan/craco-plugin-react-hot-reload

[2018-11-15 22:01] patricklafrance commented on #32
Hi @HasanAyan

Yes it's in the README at the root of repo https://github.com/sharegate/craco/blob/master/README.md

Can you send a PR to add your plugin? Otherwise i'll do it as soon as I can :)

Thanks for the plugin!

[2018-11-16 01:17] patricklafrance commented on #32
Done!

[2018-11-16 01:17] #32 closed

[2018-11-16 03:06] patricklafrance commented on #7
Done in https://github.com/sharegate/craco/commit/65e9933349964e1afa02d911c95882d13c9e53ae

[2018-11-16 03:06] #7 closed

[2018-11-16 04:36] cammanderson opened #33 "Line Endings causing ‘node\r’: No such file or directory"
Hi Guys,

Thanks for writing the package!

We are trying to get this running in our teams, on various environments, but our Linux and Mac users have problems with the line endings.

[code]

Is it possible to have the \r removed?

Thanks!
Cam

[2018-11-16 14:42] abenhamdine commented on #33
Same here, seemingly since update 2.4.0

[2018-11-16 14:56] patricklafrance commented on #33
Sorry about that, I will update the line endings to LF instead of CRLF.

[2018-11-16 19:54] patricklafrance commented on #33
It should be fix with 3.0.0 alpha

@cammanderson @abenhamdine can you test it please?

[2018-11-16 20:02] yurtaev commented on #33
@patricklafrance It's fixed in 3.0 👍

[2018-11-16 20:53] patricklafrance commented on #33
@yurtaev thank you!

[2018-11-16 20:53] #33 closed

[2018-11-16 20:53] abenhamdine commented on #33
Works fine with 3.0.0, thx @patricklafrance !

[2018-11-19 09:34] nanxiaobei opened #35 "Is there anyway to change variable in `paths`?"
Need to change the `appHtml` variable, but seems no way to do that.

[2018-11-19 17:59] patricklafrance commented on #35
Hi @nanxiaobei

craco doesn't support this feature right now.

If what you need is to customize the `template` property of the `HtmlWebpackPlugin` plugin, I see 3 ways it could be done.

1- A PR to craco to support CRA paths override. Looking at the actual code of `react-scripts` it's very faisable to override the paths used by CRA. A section could be added to `craco.config.js`.

Something like:

[2018-11-20 03:56] nanxiaobei commented on #35
@patricklafrance
Thanks for your reply.
Seems like No. 1 solution is the best. Because I need to modify not just `appHtml` in HtmlWebpackPlugin, but also in `react-scripts/scripts/start.js`.
I will spend some time to find a way to do that. ^_^

[2018-11-20 03:56] #35 closed

[2018-11-22 07:10] d3dc opened #36 "Unexpected Babel configuration behavior"
[The babel config override](https://github.com/sharegate/craco/blob/master/packages/craco/lib/features/babel.js#L76) will override the loaderOptions, presets, and plugins for [both of the `babel-loader` rules CRA has.](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js#L396)

It seems like the second loader shouldn't receive the presets and plu

[2018-11-22 13:36] patricklafrance commented on #36
Hi @d3dc

Thank you for your feedback.

Interesting, I haven't notice that.

May I ask what  side effects you are experimenting since craco updates both babel-loaders?

Do you see any use cases were someone would require to apply presets or plugins to both babel loaders?

Thank you

[2018-11-22 18:00] d3dc commented on #36
The second loader is intended to polyfill code for browsers with `react-app-polyfills`. I don't think there _should_ be too many side-effects.

The biggest is performance. Each plugin will traverse the AST for each import - and this happens for all of `node_modules` with the second loader.

IMO, the second loader is the "polyfill loader". I could see a use case where someone would want to apply a

[2018-11-23 13:37] 19majkel94 opened #37 "TypeError: Cannot read property 'isProvided' of undefined"
After upgrade to 3.1.0, I've started to get this error when I'm running the tests.

[code]

Looking into the source code, you have circular dependencies between `loggger.js` and `args.js`, so one of them is resolved to an empty object, resulting in this error.

[2018-11-23 13:59] 19majkel94 commented on #37
@patricklafrance
After commenting that line:
https://github.com/sharegate/craco/blob/3dfbc5089459f9a9af88e9cb8523e8d07655bf2f/packages/craco/lib/args.js#L37
my tests are passing, so it's clearly circular deps problem.
I can reproduce it also on v3.0.0.

[2018-11-23 14:19] patricklafrance commented on #37
Hi @19majkel94

Thanks for the issue.

You're right about that circular dependency. I don't understand why the tests in my local sandbox were running without that error.

Anyway, it's fix in 3.1.1

Thank you :)

[2018-11-23 14:19] #37 closed

[2018-11-25 00:02] d3dc commented on #36
So to clarify, anything outside of source ordinarily only gets:
- `@babel/preset-env`
- `@babel/plugin-transform-runtime`
- `@babel/plugin-syntax-dynamic-import`

This does seem odd to automatically add all new plugins to.

It is already pretty convenient to use  a `loaderOptions` function:
[code]

[2018-11-25 16:43] patricklafrance commented on #36
Hi @d3dc

This is indeed an easy fix if you want to customize what's being configured for the files outside of the `src/` directory.

I might wait before updating any code for this one since I don't want to break anyone setup.

How could craco's configuration be modified to accommodate your usecase?

Maybe an `applyToExternalFiles`  boolean option with a default value of `false` ? Not sure though

[2018-11-28 09:42] Lukas-Kullmann opened #39 "Watching tests not working with IntelliJ's Jest Run Configuration"
We recently switched from react-scripts v1 to v2. And with that, we now also use craco to rewire some configurations. (Thanks btw. for the awesome package. We used react-app-rewired and the configuration for craco is much nicer and easier to understand!)

Everything works fine so far, except the watch mode of tests in IntelliJ's Jest Run Configuration does not work properly.
The first run passes w

[2018-11-28 12:08] Strnadj opened #40 "Functional example of decorators?"
We are trying to use http://inversify.io/, it uses attribute decorators to inject:

[code]

but if I try to use `mobX` configuration (add decorator support), I am still getting:

[code]

I think this issue is caused by the configuration of webpack in CRA, they are not using ts-loader, but I am not sure.

[2018-11-28 15:39] patricklafrance commented on #40
Hi @Strnadj

Have you tried this recipe? https://github.com/sharegate/craco/tree/master/recipes/use-mobx

[2018-11-28 15:42] patricklafrance commented on #39
Hi @Lukas-Kullmann

I am not an IntelliJ user so it's hard for me to support it.

react-app-rewired have a fix for IntelliJ support: https://github.com/timarney/react-app-rewired/blob/master/packages/react-app-rewired/bin/jest.js

If you have time, you could try to add it to craco and send a PR! :)

Thank you

[2018-11-28 16:20] Strnadj commented on #40
Yes, we have tried that, but it fails with the error message above.

[2018-11-29 01:12] patricklafrance commented on #40
There is a few options for the babel decorator plugin: https://babeljs.io/docs/en/next/babel-plugin-proposal-decorators.html#legacy

Have tryed without the `legacy` option?

[code]

[2018-11-29 07:11] Strnadj commented on #40
Ok, if I delete that:

[code]

so I have change that to:
[code]

and error:

[code]

[2018-11-29 13:55] patricklafrance commented on #40
I tryed it on my side and it works fine.

I guess you have something else in your setup that add the `decorators-legacy` plugin?

[2018-11-29 15:21] Strnadj commented on #40
https://github.com/Strnadj/not_working_cra there is repository, what cames in my mind... it seems to "@babel/plugin-proposal-decorators" is not ready yet for @babel 7.1..

[code]
not sure if it is a problem, but I was not able to find react-scripts version with @babel 7.0 in dependencies.

[2018-11-29 16:13] patricklafrance commented on #40
Maybe it's the problem, if it's the case you should open an issue in the `@babel/plugin-proposal-decorators` repository.

For this issue, it doesn't seem to be a problem with `craco`.

If you find the right `webpack` recipe for `inversify` i'll be glad to help you to make it work with `CRA` + `craco`.

I will leave the issue open for a few days in case someone have a solution for you.

[2018-12-01 11:55] CloudPower97 opened #42 "Conditionally use different options for babel configuration"
Hi there,
I'm using this in `craco.config.js`

[code]

What if I'd like to use a plugin only in `development` or in both `development` and `production`?

How to use `whenProd()` with `whenDev()`?

Thank you in advance for your time!
Keep up the good work!

[2018-12-02 07:15] d3dc commented on #36
I ended up writing a custom function for my babel configuration. Its pretty close to the original, with two things:
- it only applies settings to the "customize" loader
- it modifies the same loader to include specific external libs

[code]

The boolean approach is probably better for react native libraries, as there could be frequent changes to the config with my way. I would think the performanc

[2018-12-02 23:32] patricklafrance commented on #36
Thanks for sharing.

I agree with you that `applyOutsideSrc` is more accurare.

[2018-12-02 23:45] patricklafrance commented on #42
Hi @CloudPower97

You could do something like this

[code]

[2018-12-03 00:18] patricklafrance commented on #42
Another option would be to add another helper to craco.

Something like a `define` function that would accept a function with the following signature as parameter `({ env }) => undefined | any value`.

It would work like this:

[code]

Not sure about the name `define`.

[2018-12-03 11:20] jgoux opened #43 "Use with Storybook"
Hello,

according to Storybook, it's possible to use our own webpack.config.js (https://storybook.js.org/configurations/custom-webpack-config/#using-your-existing-config) to configure Storybook as well.

How would you wire Storybook and craco to use the same configuration?

The most simple would be to provide the function which computes the craco config into the webpack config?

Something like :
[

[2018-12-03 14:30] patricklafrance commented on #43
Hi @jgoux

craco doesn't return any config.

The way it works is that it make some tweaking according to how craco si setup and then call CRA.

Maybe you could use the plugin system of craco to write a plugin that will output the webpack config somewhere accessible to storybook. I am not sure it will be easy thought because CRA webpack config have a lot of required dependent files.

[2018-12-04 00:38] carlosfunk opened #44 "Override webpack optimization"
Hi,
I need some help trying to override the settings in TerserPlugin to disable mangling.  Is this supported currently?  I've tried setting up something like this but it doesn't seem to take effect...  Not 100% sure I'm doing it correctly.

[code]

The configuration I'm trying to modify is here https://github.com/facebook/create-react-app/blob/49e258b4a6d04fb7e3542d7a060c6dcad4093564/packages/reac

[2018-12-04 01:59] patricklafrance commented on #44
Hi @carlosfunk

Yes it is supported but you have to use

[code]

or

[code]

[2018-12-04 08:58] jgoux commented on #43
Thanks for your answer @patricklafrance

I wish the ecosystem was more collaborative about webpack's config overwrite.

Project such as https://github.com/andywer/webpack-blocks would be a good start, then craco or storybook's configs could be just a thin layer over this primitive.

Have a nice day! 🌞

[2018-12-04 08:58] #43 closed

[2018-12-04 09:52] duyucongc commented on #40
Hi @patricklafrance
I use config

[code]
and it work in  **craco start** and **craco build**
but when I run **craco test**
It failed with error
`Support for the experimental syntax 'decorators-legacy' isn't currently enabled
`
What should I change config to fit CRX test ?

[2018-12-04 13:30] 564648531215156918273645 opened #45 "How to set up env?"
Hi,

I'm trying to prevent webpack from opening a new tab in a browser like dan showed.
https://github.com/facebook/create-react-app/issues/873#issuecomment-279175617

How can I do this using craco so I wouldn't have to manually write 'BROWSER=none' all the time?
Thank you for the wonderful alternative to react-rewired.

[2018-12-04 14:17] patricklafrance commented on #45
Hi @564648531215156918273645

The following should work

[code]

[2018-12-04 14:55] 564648531215156918273645 commented on #45
@patricklafrance did not work.

[2018-12-04 15:22] patricklafrance commented on #45
@564648531215156918273645 I just found out thar CRA doesn't rely on the `open` property of webpack dev server.

I'll try to push a fix for that soon.

[2018-12-04 17:27] patricklafrance opened #46 "Support custom CRA paths"
Add a section to customize the CRA paths:

    dotenv: resolveOwn('template/.env'),
    appPath: resolveApp('.'),
    appBuild: resolveOwn('../../build'),
    appPublic: resolveOwn('template/public'),
    appHtml: resolveOwn('template/public/index.html'),
    appIndexJs: resolveModule(resolveOwn, 'template/src/index'),
    appPackageJson: resolveOwn('package.json'),
    appSrc: resolveOwn('templat

[2018-12-04 17:30] patricklafrance opened #47 "devServer.open should control if the browser will be open when start"

[2018-12-04 17:30] patricklafrance commented on #45
Will be fix in #47

[2018-12-04 17:30] #45 closed

[2018-12-05 02:31] #47 closed

[2018-12-05 02:58] patricklafrance commented on #39
Hi @Lukas-Kullmann

I pushed a fix for IntelliJ in the 3.2.0 release.

Can you try it?

Thank you

[2018-12-05 02:59] patricklafrance commented on #45
Available in 3.2.0

[2018-12-05 02:59] patricklafrance commented on #47
Available in 3.2.0

[code]

[2018-12-05 07:53] Lukas-Kullmann commented on #39
Does not work, unfortunately. :/

[2018-12-05 14:18] patricklafrance opened #48 "Add an overrideDevServerConfig hook for plugin"

[2018-12-05 14:20] patricklafrance opened #49 "Add a flag to prevent craco from overriding CRA babel config for files outside of src"
See #36 for details

[2018-12-05 14:20] patricklafrance commented on #36
Will be fix in #49

[2018-12-05 14:20] #36 closed

[2018-12-05 19:39] Dakkers opened #50 ""craco test" does not respect babel plugins"
Here's my config:

[code]

`npm test` (or `./node_modules/.bin/craco test`) results in the following error:

![image](https://user-images.githubusercontent.com/5009136/49539430-a49a6000-f89b-11e8-9de0-b41bc0882c8e.png)

Craco version: 3.2.0
React-Scripts version: 2.1.1

Test file content:

[code]

[2018-12-05 21:59] patricklafrance commented on #50
Hi @Dakkers

I tried to run the test with a mobx observer using the "@babel/plugin-proposal-decorators" plugin with the legacy option and it works fine.

Have you changed your npm test script to call craco instead of CRA?

[code]

[2018-12-06 02:19] Dakkers commented on #50
yes, I have done that, hence also mentioning directly running the executable also is not working 😿

[2018-12-06 02:40] patricklafrance commented on #50
Can you setup a gtihub repository that reproduce the problem?

[2018-12-06 09:58] dstudzinski opened #52 "Forked, scoped react-scripts - test + craco doesn't work"
I have problem with craco with my custom react-scripts. The problem occurs only in test script

Long story:
I forked create-react-app and created custom react-scripts (to be able to have multiple entry points by ENTRY env variable). It's done and published as scoped package from this branch https://github.com/dstudzinski/create-react-app/tree/feature/custom-react-scripts
I installed my scoped pack

[2018-12-06 12:41] stam commented on #50
I created an example here: https://github.com/stam/craco-test-example
Just the basic CRA 2 with craco + mobx

 FAIL  src/App.test.js
  ● Test suite failed to run

    SyntaxError: /Users/phnl320029247/Work/craco-test/src/App.js: Support for the experimental syntax 'decorators-legacy' isn't currently enabled (8:3):

       6 |
       7 | class App extends Component {

         |   ^
       9 |

[2018-12-06 14:13] patricklafrance commented on #50
Thank you @stam

[2018-12-06 18:31] #50 closed

[2018-12-06 18:37] patricklafrance commented on #50
Hey guys

The problem is fixed in version `3.2.1-alpha.0`

I am going away for a few days, I will publish it as the latest version when I get back.

[2018-12-11 02:39] patricklafrance commented on #39
I will close this issue, @Lukas-Kullmann feel free to open it again once you have news from IntelliJ

[2018-12-11 02:39] #39 closed

[2018-12-11 02:40] patricklafrance commented on #44
I will close this issue since there isn't any new comments for 7 days.

[2018-12-11 02:40] #44 closed

[2018-12-11 02:40] patricklafrance commented on #42
I will close this issue since there isn't any new comments for 8 days.

[2018-12-11 02:40] #42 closed

[2018-12-11 02:46] patricklafrance commented on #40
@duyucongc https://www.npmjs.com/package/@craco/craco/v/3.2.2 should fix your problem .

[2018-12-11 02:47] patricklafrance commented on #40
I will close this issue since there isn't any new comments for 7 days

[2018-12-11 02:47] #40 closed

[2018-12-11 08:20] dstudzinski commented on #52
Ok I will try to reproduce it and prepare example (like full repo) and let you know about the results

[2018-12-11 09:10] dstudzinski commented on #52
Please try to clone this repo `https://github.com/dstudzinski/cracoi52` then `yarn` then `npm run test` and press `a` (sometimes multiple times)

I realized that it can be caused by configuration so I no longer sure it's craco issue or bug in configuration. When I remove jest or babel from `craco.config.js` it works.

[2018-12-13 16:32] duyucongc commented on #40
Thank you, this did solve my problem. I originally planned to use mobx directly without using the decorator.

[2018-12-13 22:22] ChemicalRocketeer opened #55 "Use with webpack.DefinePlugin"
I'm trying to inject some constants into my app at build time under a global object called `config`, but no matter where I put my plugin, when I run the app I get `'config' is not defined`. What am I doing wrong? Here's my `craco.config.js`:

[code]

[2018-12-14 01:58] vladp opened #56 "[q] recepie for symlinked paths outside of src"
delete

[2018-12-14 17:59] axelchalon commented on #2
Hi! The `test` command doesn't seem to take the `--react-scripts` value into account:

`craco test --react-scripts ../../node_modules/react-scripts`

[code]

`craco {build,start} --react-scripts ../../node_modules/react-scripts` both work fine though!

[2018-12-15 22:06] vladp commented on #56
wrong plugin

[2018-12-15 22:06] #56 closed

[2018-12-17 03:37] PatchOnKnee opened #57 "Craco start and craco build causing different css ordering"
We recently moved over to craco from react-app-rewired, in conjunction with ant-design. However the css is applied differently when running locally compared to running the completed build. Below is the contents of the craco.config.js file.
`test`
` const CracoAntDesignPlugin = require('craco-antd');`
`const { BundleAnalyzerPlugin } = require('webpack-bundle-analyzer');`
`const WebpackBar = require

[2018-12-18 10:36] yp opened #58 "Environment in `dotenv` files seems not correctly applied."
I am setting `PUBLIC_URL` on `.env.production` but it seems that `.env*` files are not read while building (and overriding) the `webpack` configuration. Indeed, the configuration of the `InterploateHtmlPlugin` does not "see" the variables I set on these files, while the message at the end of the build (`The project was built assuming it is hosted at /MY_PUBLIC_URL`) correctly reports it.
If I add

[2018-12-20 21:37] saostad commented on #55
same problem here!
what I want to do is having 1 variable with different value in prod and dev environment.
is there any way to define environment variable in webpack config?
something like :

[code]

[2018-12-22 03:49] kopax opened #60 "How to configure setupFiles for jest"
I have tried the following:

[code]

But the `setup-test.js` file is never read. any idea if that is possible?

[2018-12-22 04:03] #60 closed

[2018-12-23 21:24] kopax opened #61 "[Bug]Error: Cannot find module './node_modules/react-scripts/config/webpack.config.dev' with react-script v2.1.2"
## Cannot find webpack config with `react-scripts` **`2.1.2`**

I have updated my `react-scripts` dependencies from `2.1.1` to `2.1.2` and got the following error on both `npm start` and `npm run build`:

[code]

### Expect

to start or build my unjected create-react-app.

### Result

Can't find the configuration `react-scripts/config/webpack.config.dev`

Seems obvious: https://github.com/facebook

[2018-12-24 02:41] ClaudiuCeia commented on #61
The way CRA organizes webpack configs seems to have changed with this commit: https://github.com/facebook/create-react-app/commit/30ee52cf3b2cbb6ac70999c02b1196bcaba8d4ca#diff-ee7ca784a2ec9d96668503d6394bdd62

[2018-12-24 03:59] tzarger commented on #61
+1

[2018-12-24 05:49] tzarger commented on #46
+1

[2018-12-24 08:59] zhnoah commented on #61
+1

[2018-12-24 13:16] hckhanh commented on #61
+1 👎

[2018-12-24 14:38] ri7nz commented on #61
+1

[2018-12-24 22:42] neodon commented on #61
Referencing the issue that introduced this problem: https://github.com/facebook/create-react-app/pull/5722

[2018-12-25 06:30] Gamezpedia commented on #61
+1

[2018-12-25 15:04] nanxiaobei commented on #61
Still not upgraded

[2018-12-29 06:06] Atlaswimming commented on #55
It works in my project.
craco.config.js :
[code]
index.js:
[code]
then ```run build```  results in:
[code]
I was trying to find a way to use DefinePlugin today, and just edit my craco file with your code in this issue, then it just works...
But I cannot find any different between our code.

[2019-01-02 10:06] sysleaf opened #63 "How to use Astroturf and Linaria like css in js tool"
Hi,

Thanks for this awesome tool.

Can you please help, setting up [linaria](https://github.com/callstack/linaria) . I think we need to modify Webpack loader(Linaria loader should load before babel-loader) but not sure how to do this.

[2019-01-03 17:14] varghesethomase opened #64 "the sass loader option overrides doesnt work"
[code]

Passing this configuration, and running `craco start` the compilation fails with the error

[code]

[2019-01-04 09:07] jgoux opened #65 "Usage with react-cosmos"
Hello,

I'd like to use craco with react-cosmos.

There is an example of using react-cosmos + react-app-rewired : https://github.com/react-cosmos/react-cosmos#with-react-app-rewired

What would it take to make craco compatible with it?

[2019-01-05 10:19] tangdw commented on #61
windows -> Error: Cannot find module 'E:\react-start\node_modules\react-scripts/config/webpack.config.dev'

[2019-01-05 11:55] kopax commented on #61
Why did you switch ? Isn't this already fixed with #6 ?

[2019-01-06 06:34] tzarger commented on #61
@kopax What does [#6](https://github.com/sharegate/craco/pull/6) have to do with this issue?

[2019-01-06 12:48] kopax commented on #61
Seems like `react-app-rewired` is now release for `react-scripts` **2.1.2**, should I close this?

[2019-01-07 03:30] melMass opened #66 "Overide webpack entry point ?"
Craco is great thanks a lot.

I would like to override `create-react-app` default `./src/index.js` entry point.
It is possible?

Thanks

[2019-01-07 17:46] abenhamdine commented on #61
No, why should you ? This project is not based on react-app-rewired and this issue is still there.

[2019-01-07 20:57] d3dc commented on #63
You'd want to write an `overrideWebpackConfig` plugin using the [utilities that come with craco](https://github.com/sharegate/craco/blob/master/packages/craco/README.md#utility-functions)

[code]

[2019-01-08 05:40] sysleaf commented on #63
Thank you so much for the suggestion. I will definity try it out and post feedback.

[2019-01-08 09:56] Lukas-Kullmann commented on #39
Just to give you an update on this, it works in the new 2018.3.2 version of IntelliJ, which was released Dec. 19th 2018. :)

[2019-01-09 01:46] d0ruk commented on #55
You might be confused how the DefinePlugin works.

It sets global variables *during your build process*.

Thus, to have ```window.config``` in your app;

**craco.config.js**
[code]

**index.js**

[code]

[2019-01-09 03:16] ZKHelloworld commented on #61
+1

[2019-01-10 09:32] nanxiaobei commented on #61
Where is @patricklafrance? 😑

[2019-01-10 10:17] kopax commented on #61
Don't know. Did/may someone release the #62 under a scoped name?

[2019-01-10 12:11] ltfschoen commented on #61
in Montréal according to his GH profile marker

[2019-01-14 18:50] tahamshahzad commented on #61
https://medium.com/@tahamshahzad/get-ant-design-import-on-demand-working-with-create-react-app-v2-using-rescripts-cc822f98f7e5

I wrote this fix and it's working perfectly have a look

[2019-01-15 07:39] panjiesw commented on #61
While I understand the need for you to move for `react-app-rewired`, I think this issue should've kept opened until the fix is landed. It helps the maintainer and others to keep track, and be aware that this is still an issue in `craco`.

[2019-01-15 07:41] Delphier commented on #61
plz don't close.

[2019-01-15 10:15] SergeyVolynkin commented on #61
_"Giving up"_ – is not a good reputation for the https://sharegate.com/ team.

I think current users of `craco` will be much happier if you just:
- [ ] Merge @hckhanh's PR to fix the bug
- [ ] Assign new maintainer for this project from the community.

cc @kopax @patricklafrance

[2019-01-15 13:17] abenhamdine opened #67 "craco broken with react-script 2.1.2"
[Bug]Error: Cannot find module './node_modules/react-scripts/config/webpack.config.dev' with react-script v2.1.2

see https://github.com/sharegate/craco/issues/61 for more context, which has been closed by the OP but not fixed.

Corresponding PR : https://github.com/sharegate/craco/pull/62

[2019-01-15 13:18] abenhamdine commented on #61
FWIW, I opened https://github.com/sharegate/craco/issues/67 to keep this issue visible for the maintainer and future readers

[2019-01-15 14:12] ltfschoen commented on #61
what a joke

[2019-01-15 14:16] ltfschoen commented on #61
so will we be continuing to close and re-open this issue multiple times just to encourage others to create multiple duplicates of the same issue to spam the maintainers?

[2019-01-15 14:19] ltfschoen commented on #67
let's just stick to one Github issue per issue, https://github.com/sharegate/craco/issues/61 has been re-opened

[2019-01-15 14:57] abenhamdine commented on #67
I close this one in favor of #61

[2019-01-15 14:57] #67 closed

[2019-01-17 01:15] patricklafrance commented on #61
Hi,

Sorry for the delay, I add an accident and couldn't use a computer for a few weeks.

I'll make sure https://github.com/sharegate/craco/pull/62 is merged and release soon.

[2019-01-17 02:36] #61 closed

[2019-01-17 14:32] patricklafrance commented on #57
Any idea @ndbroadbent ?

[2019-01-17 14:34] patricklafrance commented on #63
I will close this issue since it seems to resolved!

[2019-01-17 14:34] #63 closed

[2019-01-17 14:41] patricklafrance commented on #64
Hi @varghesethomase when using a function you must return the config object.

Than means that you should do the following

[code]

[2019-01-17 14:42] patricklafrance commented on #64
Hi @varghesethomase

This should work. I will have a look at it!

Thank you

[2019-01-17 14:53] patricklafrance commented on #65
Hi @jgoux

If I understand the documentation well, you need something from craco that will return a new webpack config object that contains all the modifications made by craco? And then you provide it to the cosmos config?

If this is the case, I dont think it could be done with the actual code base.

It would require at least to update the functions `overrideWebpack` and `overrideDevServer` to re

[2019-01-17 14:56] patricklafrance commented on #58
Hi @yp

I will see what I can do.

Thank you

[2019-01-17 15:01] patricklafrance commented on #66
Hi @melMass

Yes it could be done when https://github.com/sharegate/craco/issues/46 is done.

As of now no.

Meanwhile, what I do in my projects:

I create the required app/src/index.js file

And in the `index.js` file I import my actual entry point.

[code]

[2019-01-17 16:24] patricklafrance commented on #64
@varghesethomase

I updated my config to use the following function and it work with the latest version of craco.

[code]

What version are you using?

[2019-01-17 16:47] #58 closed

[2019-01-17 20:11] ndbroadbent commented on #57
Hi, I can have a look at this. I've opened a new issue in craco-antd repo, which might be a better place to discuss that: https://github.com/FormAPI/craco-antd/issues/12

[2019-01-17 21:32] patricklafrance commented on #46
Oh Well fuck me, I lost all my changes :(

Anyway.

[2019-01-17 21:32] #46 closed

[2019-01-17 21:36] StruggleQueen commented on #46
I'm already confused. I know I've been hacked and the more I've done to
find the source and stop it, the worse I think I've made it. I'm sorry for
whatever I caused you. Thanks for reaching out.

On Thu, Jan 17, 2019, 3:32 PM Lafrance <notifications@github.com wrote:

[2019-01-17 21:36] #66 closed

[2019-01-17 21:39] patricklafrance commented on #58
Available with https://www.npmjs.com/package/@craco/craco/v/3.4.0

[2019-01-17 21:42] StruggleQueen commented on #57
Thank you. To be honest, I'm confused anyways and I have no idea why.

On Thu, Jan 17, 2019, 2:11 PM Nathan Broadbent <notifications@github.com
wrote:

[2019-01-18 09:48] abenhamdine commented on #58
thx @patricklafrance !
:dancer:

[2019-01-18 20:34] #55 closed

[2019-01-26 02:29] hckhanh opened #68 "Malformed plugin at index: 1 of 'plugins'."
I receive this error when I try to build the project:

[code]

[2019-01-26 02:34] hckhanh commented on #68
Sorry for my mistake, I have a wrong configuration!

[2019-01-26 02:34] #68 closed

[2019-01-28 20:55] melMass opened #69 "Simple Example with raw-loader"
Can you please provide the most simple example to use [`raw-loader`](https://github.com/webpack-contrib/raw-loader) for `.frag` files using craco ?

Thanks

here is my non working test:
[code]

[2019-01-29 13:55] patricklafrance commented on #69
Hi @melMass

The problem is that your rule is added after the `file-loader` which is CRA fallback for every resources that are not handled by any other specific loader.

Here's a comment from CRA webpack config

[code]

The solution is to add your loader before the `file-loader`.

You can do this 2 ways with the help of `craco` utility function [addBeforeLoader](https://github.com/sharegate/craco/

[2019-01-29 15:51] melMass commented on #69
@patricklafrance Thanks a lot!
I'll go the plugin way right now and report back here my results later today.

[2019-01-29 16:06] melMass commented on #69
It was easier than expected!!
Here is the plugin:

[code]

and to use it in your config (here to detect `.frag` files):

[code]

[code]

[2019-01-29 16:14] melMass commented on #69
Is there a recommended way to package plugins to npm?

[2019-01-29 16:30] patricklafrance commented on #69
@melMass no nothing special for now, maybe exception the name of the package that should start with "craco-".

You can find an example of a plugin here: https://www.npmjs.com/package/craco-antd

[2019-01-29 19:20] melMass commented on #69
Thanks again.

Here is the plugin [craco-raw-loader](https://www.npmjs.com/package/craco-raw-loader)

[2019-01-29 19:20] #69 closed

[2019-01-29 19:43] patricklafrance commented on #69
Thank you @melMass!

I added it to the plugin list!

[2019-01-29 20:36] melMass commented on #69
Cool
if you are interested I just made another one along the same concept:

[craco-base64-inline-loader](https://github.com/melMass/craco-base64-inline-loader)

[2019-02-03 15:11] StruggleQueen commented on #28
@patricklafrance Im lost and confused. Can you please help me understand better.

[2019-02-11 23:14] kmcaloon opened #71 "Is it possible to console.log to see config?"
I would like to check out the webpackConfig, env, and paths values for the configure option but there doesn't seem to be an easy way to see them.  I am trying to understand these configurations options and would like to add a resolve plugin so I'm trying to see what is available here...

[code]

[2019-02-12 00:25] kmcaloon commented on #71
So the first problem was I was adding the configure option to the default export instead of the webpack object. In order to view the console.log I just broke the build by not returning the webpackConfig.

[code]

[2019-02-12 00:25] #71 closed

[2019-02-21 13:06] iamawebgeek commented on #2
@axelchalon +1. passing `--workspace` flag did not help as well

[2019-02-21 20:50] patricklafrance commented on #2
I will look into this as soon as possible. Thank you.

[2019-02-21 20:51] patricklafrance commented on #64
Closing this since there is no activity.

[2019-02-21 20:51] #64 closed

[2019-02-21 20:51] patricklafrance commented on #65
Closing this issue since there is no activity.

[2019-02-21 20:51] #65 closed

[2019-02-21 20:52] patricklafrance commented on #57
Closing this since it's handled in a different repository

[2019-02-21 20:52] #57 closed

[2019-02-21 20:56] patricklafrance commented on #52
Closing this issue since there is no activity.

[2019-02-21 20:56] #52 closed

[2019-02-25 23:27] frederikhors opened #72 "I don't understand how to translate this code from react-app-rewired to craco"
I don't understand how to translate this code from react-app-rewired to craco:

- config-overrides.js:

[code]

Maybe it's just me but I really don't understand this simply problem.

**How to?**

[2019-02-26 14:50] mikroskeem commented on #48
Any updates on this?

[2019-02-26 21:22] patricklafrance commented on #72
Hi @frederikhors

You can configure custom babel plugins with

[code]

The full documentation is available here: https://github.com/sharegate/craco/blob/master/packages/craco/README.md#configuration-overview

Hope this helps!

[2019-02-26 21:46] #48 closed

[2019-02-26 21:51] patricklafrance commented on #48
@mikroskeem available with https://www.npmjs.com/package/@craco/craco/v/3.5.0

[2019-02-26 22:18] patricklafrance commented on #2
@iamawebgeek @axelchalon could you provide a simple repository that reproduce the case?

It works fine with my sandbox project with either the --workspace flag or by providing a custom --react-scripts path

[code]

Thank you

[2019-02-27 17:22] axelchalon commented on #2
yes, https://github.com/axelchalon/craco-issue

Notice how `yarn start` works but `yarn test` doesn't.

Some observations: tests work if there is only one test file, and tests work if I remove `babel: {...}` from the export of `craco.config.js`

[2019-02-27 21:02] patricklafrance commented on #2
Thank you @axelchalon

Oh that explains why, my sandbox project contains a single file.

[2019-03-01 06:50] tuucan commented on #49
When I add a babel plugin, it breaks IE11 support. Seems like Promise and Object.assign() polyfills are not included. Could that be related?

[code]

[2019-03-01 13:19] patricklafrance commented on #49
I dont think so, this one is about not applying customization to the loader that process the files outside of the source directory.

To give you a proper answer I would need time to investigate how CRA apply the polyfill.

CRACO only appends the plugin:

[code]

[2019-03-01 13:20] patricklafrance commented on #49
@tuucan You can create a separare issue if you think this is a CRACO bug

[2019-03-01 13:23] #72 closed

[2019-03-01 15:25] bernardobelchior opened #73 "Update webpack dependency"
`create-react-app`@2.1.3 was the last version to use [`webpack`@4.19.1](https://github.com/facebook/create-react-app/blob/0d0d0349a56a2b2239c87f7fbcba0447d04ce80e/packages/react-scripts/package.json#L70). Since v2.1.4, `create-react-app` uses [`webpack`@4.28.3](https://github.com/facebook/create-react-app/blob/b02f181d0d98651bb5144acee276bb0f2db67c60/packages/react-scripts/package.json#L70).

When

[2019-03-01 17:11] patricklafrance commented on #73
Hi @bernardobelchior

craco doesn't have a direct dependency on webpack.

[code]

[2019-03-01 17:16] bernardobelchior commented on #73
You're right. I think I mistakenly opened the issue here, instead of [`craco-less`](https://github.com/FormAPI/craco-less)

[2019-03-01 17:16] #73 closed

[2019-03-04 19:02] dstudzinski commented on #52
Sorry for the delay. I checked with craco 3.5.0 and it works without problems. I updated repo with latest changes. Thank you!

[2019-03-09 21:09] serus22 opened #74 "Bug - needs more inspection"
Hi, i found an issue when i tried to crate webpack alias

i had to use `overrideCracoConfig` instead of `overrideWebpackConfig`

more details:

https://github.com/HasanAyan/craco-plugin-react-hot-reload/pull/3/commits/267905a1b5105ff52763288bb7077fceefe452a7#diff-168726dbe96b3ce427e7fedce31bb0bcR42

https://github.com/HasanAyan/craco-plugin-react-hot-reload/pull/3/commits/41d8e30a1b76516b73795e7ee

[2019-03-11 02:00] patricklafrance commented on #74
Hi @serus22

Thank you, let me know what you find out.

[2019-03-12 10:03] mgcrea opened #75 "Add a quick way to disable tslint for typescript projects"
Not sure if there is an easy way to do this but I tried `{eslint: {enable: false}}` and `{tslint: {enable: false}}`.

Here is how I used to do it with rewired:

[code]

[2019-03-12 16:19] patricklafrance commented on #75
Hi @mgcrea

I dont personally use TypeScript so I am not familiar with how all the tooling works.

Looks like CRA doesn't come out of the box with the loader `tslint-loader`. From your code sample I guess the lintings come from the `ForkTsCheckerWebpackPlugin` webpack plugin.

The documentation of [ForkTsCheckerWebpackPlugin](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin) say that t

[2019-03-12 17:21] mgcrea commented on #75
@patricklafrance Thanks for the quick reply, I was indeed talking about disabling typescript type checking in webpack's pipeline, it already runs inside vscode and I don't need to have it run twice, moreover I find it really slows down development (can't have a render unless typechecking passes).

I don't really care about `tslint` and I'm not using it (looks like `ForkTsCheckerWebpackPlugin` supp

[2019-03-12 21:33] patricklafrance commented on #75
@mgcrea you are right, keep this issue open, I will add a more user-friendly option.

[2019-03-12 21:35] Dakkers commented on #75
I did something similar recentlyfor a different plugin:

[code]

using `instanceof` worked for me, though it's not much prettier (feels a bit less janky)

[2019-03-13 02:32] #75 closed

[2019-03-13 02:35] patricklafrance commented on #75
@mgcrea available with https://www.npmjs.com/package/@craco/craco/v/3.6.0

You can disable typescript type checking by doing

[code]

[2019-03-13 08:11] zhaoyao91 opened #76 "Why install craco as dependencies but not devDependencies?"
Why install craco as dependencies but not devDependencies?

[2019-03-13 09:07] zhaoyao91 opened #77 "Support load config from `.babelrc`?"
How about supporting load config from `.babelrc`? thus multiple environments (such as storybook) could use a same rc file.

[2019-03-13 12:48] patricklafrance commented on #76
@ndbroadbent can you answer this one?

[2019-03-13 12:53] patricklafrance commented on #77
It could be done but every develop using an `.babelrc` file would need to keep in sync is babel config with CRA.

The current CRA babel config is:

[code]

[2019-03-13 13:01] zhaoyao91 commented on #76
I tried to install it as devDependence. By now I didn't find any problem.

[2019-03-13 14:22] patricklafrance commented on #77
And also, craco babel support for Jest will not work if you use an babelrc file

[2019-03-13 14:42] patricklafrance commented on #76
@zhaoyao91 same here. The documentation have been updated to install craco as dependencies after a comment made by @ndbroadbent but I dont remember the specific reason.

[2019-03-13 16:22] patricklafrance commented on #76
Thank you @ndbroadbent

[2019-03-14 07:01] #76 closed

[2019-03-19 19:18] umartopia opened #78 "Couldn't find a suitable Node resolution for unqualified path node_modules\react-scripts\config\env.js"
I am using craco and it works fine with yarn.
However, ever since I tried using pnp (plug n play) mode of yarn, I have started getting the issue:

\Client\.pnp.js:21239
    throw firstError;
    ^

Error: Couldn't find a suitable Node resolution for unqualified path "{MyPath}\node_modules\react-scripts\config\env.js"

The issue is that, I cant really give the static path for react scripts (since t

[2019-03-19 21:21] patricklafrance commented on #77
I will close this issue since there is no activity

[2019-03-19 21:21] #77 closed

[2019-03-22 12:28] umartopia commented on #78
Basically we need a switch which we can use for enabling pnp mode of yarn.
something like craco build --enablePnp
OR
craco build --pnp

[2019-04-02 20:43] patricklafrance commented on #78
Hi @umartopia

Technically what does that switch will do when enabled?

Thank you,

Patrick

[2019-04-03 01:15] patricklafrance commented on #2
It took a while but I finally found some time to work on this!

It was not an easy one.

I published an alpha version, if anyone can try it: https://www.npmjs.com/package/@craco/craco/v/4.0.0

The problem was that the `--workspace`, `--scripts-version` and `--react-scripts` options are provided by the CLI and the custom `babel-jest` transformer provided by `craco` doesn't have access to those opti

[2019-04-03 13:30] patricklafrance commented on #74
Hi @serus22

Any news on this?

[2019-04-03 13:30] #31 closed

[2019-04-03 13:31] #30 closed

[2019-04-03 13:31] #29 closed

[2019-04-03 13:31] #28 closed

[2019-04-03 17:39] patricklafrance opened #80 "Clean root package.json file"

[2019-04-04 13:27] axelchalon commented on #2
Can confirm `craco {test,build,start}` all work fine with craco v4.0.0 and specifying `reactScriptsPath` in craco.config.js :+1: thank you!

[2019-04-04 14:04] umartopia commented on #78
Currently, with default mode everything is available under node_modules folder. And all the packages are available at the same level.
node_modules
-- package1
------ package1 files
-- package2
------ package2 files

However, with pnp enabled, there is no folder created for "node_modules" and everything is read from the node cache, which have a different folder structure than node_modules.
So, crac

[2019-04-04 16:36] patricklafrance commented on #78
Thank you @umartopia I'll see what I can do to support pnp

[2019-04-05 00:56] #80 closed

[2019-04-05 00:57] patricklafrance commented on #74
Closing this issue since there is no comments for 25 days

[2019-04-05 00:57] #74 closed

[2019-04-05 00:57] #2 closed

[2019-04-08 00:57] patricklafrance commented on #78
I am stuck with `Error: You cannot require a package ("react-scripts\config\webpack.config.js") that is not declared in your dependencies (via "C:\Dev\20_gsoft\craco-sandbox\pnp/")`

I found https://yarnpkg.com/en/docs/pnp/troubleshooting but I am not sure how to solve the problem with that information.

Any idea @arcanis ?

This is an hacky scenario were I need to require files from another modul

[2019-04-08 01:13] arcanis commented on #78
Which Yarn version do you use? I think I recognize a bug that got fixed some time ago (incorrect package name detection on Windows because of backslashes).

[2019-04-08 01:13] patricklafrance commented on #78
@arcanis 1.15.2

[2019-04-08 01:20] arcanis commented on #78
I can take a look if you provide a full stacktrace + repro steps

[2019-04-08 01:38] patricklafrance commented on #78
Thank you @arcanis

Here's a repo to reproduce the error. All the instructions for the setup and repro steps are in the README.

https://github.com/patricklafrance/craco-pnp

[2019-04-09 14:11] patricklafrance commented on #78
Any lead @arcanis ?

[2019-04-15 14:27] Sajgon commented on #35
@nanxiaobei any success? I also need a way to edit paths with craco.

[2019-04-15 16:09] patricklafrance commented on #35
@nanxiaobei no :(

[2019-04-18 15:24] saostad commented on #55
Here is the solution in case anybody wants to use it:

[code]

and here is another example I added ant design to config, it's good if you need mix and match webpack plugins and babel plugins!

[code]

[2019-04-22 21:29] kMeillet opened #83 "Support CRA v3"
CRA v3 is now released. It would be awesome to have craco support it. But i don't know exactly what this update will break in craco.

If someone want to give a shot 👍  .

[2019-04-23 02:24] patricklafrance commented on #83
I run a few test and everything seems to run fine.

Let me know if you find anything!

[2019-04-23 03:08] patricklafrance commented on #83
Would be nice to investigate if something should be added to craco in regards of:

- New TypeScript linting support
- browserslist support in @babel/preset-env

[2019-04-24 09:47] PutziSan commented on #83
Hi,
It seems like you can't overwrite the typescript-rules:

![image](https://user-images.githubusercontent.com/13392042/56650167-c8ade080-6686-11e9-98df-02c35ad17af6.png)

[2019-04-24 12:38] patricklafrance commented on #83
Hi @PutziSan

Does it work for non typesscript rules?

Thank you

Patrick

[2019-04-24 13:05] batusai513 commented on #83
For me, it is working except for the craco-babel-loader plugin, I've made a PR to update it https://github.com/rjerue/craco-babel-loader/pull/2

[2019-04-25 12:39] LentnerStefan opened #84 ".env.production not applied"
After updating from craco 3.6.0 to 4.0.0, I noticed the PUBLIC_URL env variable ( set in .env.production ) is not applied anymore (although there's a message at the end of the build indicating the correct one  => `The project was built assuming it is hosted at /PUBLIC_URL`).

The issue  is quite similar to this one : https://github.com/sharegate/craco/issues/58.

I tried to look at the commits bet

[2019-04-25 16:35] patricklafrance commented on #84
Hi @LentnerStefan

Thank you for reporting the problem.

I am also surprised that the changes affect this. I will have a look soon.

Patrick

[2019-04-28 12:31] onlyann commented on #84
I can confirm that none of the variables defined in  _.env_ and _.env.*_  files are merged anymore. Outputting `process.env`  from _craco.config.js_ shows the variables in `process.env` in v3.6.0 but nothing from 4.0.0 onwards.

[2019-05-08 19:26] umartopia commented on #84
By any chance you are using the latest env-cmd npm package? if that is the case, then you might have to pass -f switch along with env command.

[2019-05-08 22:30] onlyann commented on #84
I am not explicitly using `env-cmd` package, only the environment variable feature that is built in Create React App.

[2019-05-11 02:51] atdrago commented on #83
@PutziSan I was having the same issue with the same rule. I finally figured out you need to use `overrides` in your eslint config. I think this is because that's [where eslint-config-react-app adds that rule](https://github.com/facebook/create-react-app/blob/57ef103440c24e41b0d7dc82b7ad7fc1dc817eca/packages/eslint-config-react-app/index.js#L55).

I was able to override `@typescript-eslint/no-unuse

[2019-05-13 11:25] palindrom615 opened #85 "[Question] How can I use .eslintignore file?"
Craco works amazing with my eslintrc and file mode. But is there any way to exclude files from eslint?

For now, it seems both `.eslintignore` file and `eslintIgnore` prop of `package.json` do not work.

[2019-05-14 17:53] patricklafrance commented on #85
Hi @palindrom615

I thought it works. I will need to investigate. My guess is that we need to "activate" a specific option on the loader.

[2019-05-14 19:03] kantuni commented on #83
Any news?

[2019-05-14 19:04] kantuni commented on #83
Any updates on this issue?

[2019-05-15 06:50] palindrom615 commented on #85
Hi @patricklafrance , thanks for the response.

I found this was not a craco issue. I'll leave my case FYI.

I have missed eslint-loader ignore option(which makes me confused because it is not documented in eslint-loader repo) which is false default in CRA. https://github.com/facebook/create-react-app/blob/394e385d5e25705ebd9f82e90958f6f207a5c315/packages/react-scripts/config/webpack.config.js#L32

[2019-05-15 06:50] #85 closed

[2019-05-15 16:27] patricklafrance commented on #83
Hi @kantuni is it an issue with craco or eslint? Does @atdrago works for you?

[2019-05-15 16:29] patricklafrance commented on #85
Thank you for your solution @palindrom615.

I will update craco to set to ignore option to true by default

[2019-05-16 19:26] kantuni commented on #83
Hey @patricklafrance,
Craco works perfectly fine with 2.x. I was just curious when will the support for 3.x come out?

[2019-05-19 15:58] patricklafrance commented on #83
@kantuni Craco already support 3.x. If there is something that is missing, let me know!

[2019-05-20 02:46] kantuni commented on #83
Cool. Thanks!

P.S. Your README says "Create React App Configuration Override is an easy and comprehensible configuration layer for create-react-app v2."

[2019-05-21 00:59] patricklafrance commented on #83
@kantuni oops, thank you I will update it!

[2019-05-21 00:59] #83 closed

[2019-05-21 01:43] #84 closed

[2019-05-21 01:47] patricklafrance commented on #84
Fix with 5.2: https://www.npmjs.com/package/@craco/craco/v/5.2.0

[2019-06-03 10:27] umartopia commented on #78
@patricklafrance did you get time to check this issue out?

[2019-06-06 23:14] patricklafrance commented on #78
@umartopia I am stuck with the error mention before. It seems to be impossible with yarn pnp to import a file from a package that is not the main file.

[2019-06-10 22:49] umartopia commented on #78
@patricklafrance Thanks for looking into this issue. Maybe we can check it back in future (with newer yarn and craco versions)

[2019-06-11 10:49] euanmillar opened #88 "When using @alias imports, CRA v3.0.1 will fail in TypeScript production builds in CI"
Craco is awesome to support @alias paths.  But with CRA v3.0.1 an annoying warning is generated when running a production build that will cause CI to throw an error when using TypeScript.

**aliased imports are not supported**

This is because of line 132 in:  _react-scripts/scripts/utils/verifyTypeScriptSetup.js_

```paths: { value: undefined, reason: 'aliased imports are not supported' },```

Re

[2019-06-12 05:32] Anoupz opened #89 "Issue with react testing library"
Hi,

I am having issues when I upgraded to the latest version of craco with jest and react-testing-library.

I created test-util.js file with the following code.

[code]

And my craco config is
[code]
 when i run `craco test --env=jsdom`. I get error in test-utils.js file `Unexpected token, expected "</>/<=/>="`

Any help is appreciated

[2019-06-12 12:54] patricklafrance commented on #89
Hi @Anoupz

What version of CRA do you use?

[2019-06-12 12:57] patricklafrance commented on #89
Also, does it work if you remove dependencies (styled-component, mobx, antd, @testing-library/react) ?

If it does, can you isolate which dependency cause the problem.

[2019-06-12 17:49] Anoupz commented on #89
Hi @patricklafrance,

Thanks for the response. I tried to remove styled-components and mobx providers but still the same error.
Per react-testing library which is now under @testing-library/react. We could create a wrapper component which provides global render function with all the providers and themes and u can test out the component.

I use the latest version of Craco. With Older verion of Crac

[2019-06-17 05:49] Anoupz opened #90 "Does latest version work with ts-loader"
Hi,

Thanks for the amazing library. I started to use this when the version was `3.2.3` and react-script at `2.1.3`. At that time CRA didn't have support for typescript. Hence I configured to use ts-loader to create my project in typescript with overriding webpack config
[code]
Does the latest version support use of ts-loader? I am not a big fan of babel support for typescript as it still doesn't

[2019-06-17 11:40] patricklafrance commented on #90
Hi @Anoupz

Yes CRACO support TypeScript.

[2019-06-17 22:44] Anoupz commented on #90
Hi @patricklafrance ,

But the latest version when using with react-scripts-ts doesn't have any loader by name `ts-loader`.

I get the below error when using the same config as before
 Cannot destructure property `loader` of 'undefined' or 'null'.
    at Object.overrideWebpackConfig

[2019-06-18 02:21] patricklafrance commented on #90
Hi @Anoupz

I am not sure how they do it, you should ask in react-script-ts repository or CRA. CRACO doesn't remove or add any loaders from the original webpack configuration.

[2019-06-19 05:59] Anoupz commented on #90
Hi @patricklafrance,

Thanks for the update. I believe with version 5 reactscripts path is deprecated. Hence I am sticking with version 3.2.3 and upgraded react-script and react-scripts-ts to `3.0.1` and `4.0.8` respectively. It's working fine now.

[2019-06-19 05:59] #90 closed

[2019-06-19 12:38] patricklafrance commented on #90
Hi @Anoupz

Oh sorry, I think I understand your question now.

The original reactscripts path has been deprecated, the new way to configure it is through the craco.config.js file: https://github.com/sharegate/craco/blob/master/packages/craco/README.md#configuration-overview

To use `react-scripts-ts` you can configure it like this

[code]

Hope it helps!

Patrick

[2019-06-19 19:53] Anoupz commented on #90
Hi @patricklafrance,

Thanks, totally missed this in the doc. but still, there would be a problem as craco looks for webpack.config.js but react-scripts-ts has `webpack.config.dev.js` and `webpack.config.prod.js`. Hence the craco start fails. Do you happen to have a way to work around that?

[2019-06-19 21:01] patricklafrance commented on #90
Hi @Anoupz

I added a fix to fallback on the 2.* filenames if webpack.config.js doesn't exists.

It's available in 5.2.2

https://www.npmjs.com/package/@craco/craco/v/5.2.2

[2019-06-19 21:24] Anoupz commented on #90
Hi @patricklafrance

I just tried. Got error on `craco start`

    return require(filepath)("development");
                            ^

TypeError: require(...) is not a function.

Note: I don't use any babel configurations.

[2019-06-19 22:33] adi518 opened #91 "How to reconfigure a rule?"
So, I'm a bit puzzled tbh. It seems like I can override `css-loader` options, but not the actual rule with the `test` property and all. I used the following snippet to extend CRA in Storybook 5. How can I rewrite this for Craco?

[code]

With some exploring, I noticed I can mutate the config in a similar way, but it seems a bit more nested with a strange `oneOf` property that has all the actual ru

[2019-06-20 02:14] patricklafrance commented on #90
Oops sorry, fixed in 5.2.3

[2019-06-20 02:57] #89 closed

[2019-06-20 02:57] Anoupz commented on #90
@patricklafrance Awesome that worked thanks

[2019-06-20 13:21] patricklafrance commented on #91
Hi @adi518

To extends an existing webpack loader you can use  `webpack.configure`.

[code]

More info available at: https://github.com/sharegate/craco/blob/master/packages/craco/README.md#configuration-overview

Hope it helps!

Patrick

[2019-06-20 14:19] adi518 commented on #91
Thanks. I basically wanted to set all `css-loader` instances with `modules=true`, instead of having to rename existing CSS files to `[filename].module.css`, which seems like an awkward solution from Facebook (segregating CSS modules into its own extension). AFAICS, the only drawback of having `modules=true` is the need to to wrap your global CSS with the `:global` selector, but it's negligible. :+

[2019-06-20 14:19] #91 closed

[2019-06-20 16:05] patricklafrance commented on #91
You can look at a "kind of" sample there:

https://github.com/sharegate/craco/blob/master/packages/craco/lib/features/style/css.js

The `getLoaders` function is available to the `craco.config.js` file.

More info here:

https://github.com/sharegate/craco/blob/master/packages/craco/README.md#utility-functions

[2019-06-22 15:56] patricklafrance opened #92 "Add documentation for overrideDevServerConfig"

[2019-07-01 18:11] adi518 opened #93 "Why do you need to return `webpackConfig`?"
I'm building a CRA wrapper around this package and while doing that, I noticed the `return webpackConfig` statement seems redundant, because if I return a deeply copied object, it doesn't apply my configuration. Instead, I must return the original object. It gets even more confusing, because if we mutate the object, the return is basically useless.

Would love to hear an explanation to this. 👍

PS

[2019-07-02 21:28] patricklafrance commented on #93
Hi @adi518

It might be a bug, any returned object should do it.

How do you use it?

[2019-07-02 22:47] adi518 commented on #93
Initial attempt:

[code]

What actually worked:

[code]

[2019-07-03 02:50] SHRoberts91 opened #94 "Not able to apply rules to Webpack Config Stats WarningsFilter"
I'm currently getting multiple of this error when I build:
[code]
I saw that people not using CRA got around this by adding some regex into their stats.warningsFilter,
so after running finding craco I thought it would be easy to implement this by setting up a `craco.config.js` file like so:
[code]
To no avail, so I then switched over to using the webpackConfig function so I could log the config:
[

[2019-07-03 12:59] patricklafrance commented on #94
Hi @SHRoberts91

In my projects, I solved this project with the following:

[code]

[2019-07-03 15:45] patricklafrance commented on #93
Hi @adi518

I tried to reproduce the problem without success, the returned webpack object is used has expected.

[code]

What's your full craco config? It might be another feature of craco that override the returned webpack config object with the original one.

Patrick

[2019-07-03 17:52] adi518 commented on #93
I'll test it few more times, maybe it was just a glitch on my part. What about `paths` though? we are supposed to just mutate it? the example doesn't include it in the return statement.

[2019-07-03 19:45] patricklafrance commented on #93
Yes you can mutate paths it in this function. I wouldn't recommend it though since there is a lot of hardcored paths in CRA config, mostly for Jest.

See https://github.com/sharegate/craco/issues/46 for more info

[2019-07-03 19:54] adi518 commented on #93
I have no choice, but mutated just one entry for the time being, so not a big deal.

[2019-07-06 15:16] #92 closed

[2019-07-11 12:29] patricklafrance commented on #94
Since there is not activity, I will close this issue, feel free to open a new one!

[2019-07-11 12:29] #94 closed

[2019-07-11 12:30] patricklafrance commented on #93
Since there is no activity, I will close this issue, feel free to open a new one!

[2019-07-11 12:30] #93 closed

[2019-07-12 17:15] ihevcuk opened #96 "Craco with SemanticUI in Docker"
Is there anybody trying to use Craco + ReactJS + Docker? I'm trying to follow these instructions: https://react.semantic-ui.com/theming. Everything is ok if application is running without Docker, but when I run application with Docker, it seems like .less files are not processed and I don't see any of my less/css code on the page.

[2019-07-13 17:38] patricklafrance commented on #96
Any ideas @yohanb ?

[2019-07-16 14:44] yohanb commented on #96
👋
@ihevcuk do you have a `dockerfile` I can use as a base image to help you?
Thanks

[2019-07-19 13:15] ihevcuk commented on #96
Dockerfile looks something like this:

[code]

[2019-07-29 10:30] silencej opened #97 "How to track down the code line"
I am having the problem to add polyfill support (e.g. support old Chrome and IE11 etc).

I want to use core-js. relay-compiler demands core-js2, while using core-js2, I come across this:

[code]

I know es.array-buffer is core-js3 feature, but I have no clue to find out which package wants it.

In summary, Could you give me some hint on how to track this error?

[2019-08-09 23:39] Js-Brecht opened #98 "Craco generated config API"
Have you considered exposing an API that will return the merged config for the various portions of the `react-scripts` build process?  That way people can use them in other places of their app and remain in sync with their actual build process.

The reason I ask is because I use [`vscode-jest`](https://github.com/jest-community/vscode-jest), which I really like because it runs your tests in real t

[2019-08-10 01:36] patricklafrance commented on #98
Hi @Js-Brecht

I like the idea!

If I understand correctly what you propose, instead of calling CRA with a webpack / devServer / jest merged config this API would return that merged config object?

[2019-08-10 03:29] Js-Brecht commented on #98
Precisely :slightly_smiling_face:

[2019-08-12 03:17] patricklafrance commented on #97
Hi @silencej

I dont think this has something to do with CRACO.

You should look for answers in the [CRA](https://github.com/facebook/create-react-app) or [Babel](https://github.com/babel/babel) repository.

I am closing this issue, if you think it's really an issue with CRACO, you can re-open it.

Patrick

[2019-08-12 03:17] #97 closed

[2019-08-12 06:22] zhang14725804 commented on #40
@patricklafrance thank you it did work for me

[2019-08-12 18:18] yohanb commented on #96
@ihevcuk sorry for the late response.
Can you also provide the `.npmrc`, `yarn.lock` and `package.json` files?

[2019-08-12 18:58] patricklafrance commented on #98
Hi @Js-Brecht

The API is available with [5.3](https://www.npmjs.com/package/@craco/craco/v/5.3.0).

Documentation is available [here](https://github.com/sharegate/craco/tree/master/packages/craco#api).

I would love to have your feedback!

Patrick

[2019-08-12 21:33] devinrhode2 opened #99 "Anyone look at setting up auto-install webpack plugin?"
I am curious if anyone has looked into creating a craco plugin for auto-installing dependencies

https://www.npmjs.com/package/npm-auto-install-webpack-plugin

This would make craco more competitive with parcel

[2019-08-13 05:11] Js-Brecht commented on #98
It works great!  Much simpler :slightly_smiling_face:.  I don't have occasion to use the Webpack API, but I can confirm that the Jest API works.

[2019-08-13 12:53] patricklafrance commented on #98
Awesome, thank you!

[2019-08-13 12:53] #98 closed

[2019-08-13 12:54] #21 closed

[2019-08-13 14:29] patricklafrance commented on #43
I know it's been a while but it should work now with the new API.

Documentation available [here](https://github.com/sharegate/craco/blob/master/packages/craco/README.md#api).

[2019-08-14 14:50] Zycon42 opened #100 "Additional babel presets are prepended"
When you specify babel presets or plugins in craco configuration
[code]

they are added BEFORE babel-preset-react-app. I use '@emotion/babel-preset-css-prop' which must to be added AFTER react-app preset otherwise it won't work.

When you use
[code]

the presets are appended like I need but won't be picked up by jest transformer.

IMHO there should be a way how to specify where you want babel-pres

[2019-08-14 15:45] patricklafrance commented on #100
Hi @Zycon42

I will certainly look into it, there seems to be something wrong with the way the babel presets are currently handled by CRACO.

In the meantime, you could fix your problem by using this plugin: https://github.com/jackwilsdon/craco-use-babelrc

And define a custom .babelrc file at the root of your project with something like this:

[code]

Hope this help!

Patrick

[2019-08-21 15:19] joernroeder commented on #46
@patricklafrance what happened? so this is is still not possible right?

[2019-08-21 16:50] patricklafrance commented on #46
@joernroeder yep as far as I know, it's still not possible.

[2019-08-22 11:41] joernroeder commented on #46
@patricklafrance ok thanks. will stick with `react-app-rewired` for now where path rewriting works easily.

[2019-08-22 17:36] patricklafrance commented on #46
@joernroeder do you know how it's done with react-app-rewired?

[2019-08-22 17:41] patricklafrance commented on #46
The problem for me, is those hardcore paths in the jest config (mostly "/src")

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/scripts/utils/createJestConfig.js

[2019-08-27 18:32] risenforces opened #101 "Webpack and Jest override functions aren't work in plugin"
I came across this while creating a plugin for conveniently adding aliases.

It looks like `overrideWebpackConfig` and `overrideJestConfig` functions are called and their result is checked, but it does not affect the final webpack and jest configs.

You can also try return an empty object from `overrideWebpackConfig`, but the application will work fine and the bundle will compile as if the config

[2019-08-27 22:23] #100 closed

[2019-08-27 22:23] #101 closed

[2019-08-28 15:02] rostero1 opened #103 "Not able to override clientLogLevel in devServer"
I'm getting an error error when I try to override clientLogLevel with any of the valid options: "debug", "info", or "silent".

[code]

[code]

Also, any tips on seeing the final output for debugging?  `--verbose` seems to show a summary.

[2019-08-29 14:34] rostero1 commented on #103
This was helpful.  With the logging I solved my problem and didn't need clientLogLevel.

[2019-08-29 14:34] #103 closed

[2019-09-01 18:08] gajus commented on #43
@patricklafrance shouldn't that example be:

[code]

?

[2019-09-01 23:29] bschlenk opened #104 "How can I override the build directory?"
I'm trying to override the build folder by changing `webpackConfig.output.path`, here is my `craco.config.js` file:

[code]

When running `craco build`, it works until the very end, when react-scripts tries to print out the  gzipped size of all the files. I get the error:

[code]

This is still looking at the `build` folder, not `my/custom/folder`. Digging into it, react-scripts has this file `nod

[2019-09-01 23:35] bschlenk commented on #104
I just figured it out, the `context.paths` object can be modified:

[code]

Am I expected to be able to modify `context` here? I didn't see this documented anywhere.

[2019-09-02 21:05] patricklafrance commented on #104
Hi @bschlenk

No you can't modifie the context object, only the webpack config.

Craco doesn't support modifying the CRA paths because some are hardcoded.

You still can do it yourself by overriding the webpack, devServer and Jest config since you have access to the whole config objects.

Patrick

[2019-09-02 23:16] patricklafrance commented on #43
Hi @gajus

Did you have problems with the original exemple?

Storybook support "full control mode" for the webpack config so I thought that would be enough. A merge might be necessary.

Not sure about the `webpack` key in your example though.

Patrick

[2019-09-02 23:40] gajus commented on #43
I didn't manage to get it working with either your approach or my approach. With your approach webpack was bundling the main application, not Storybook. With my approach I started getting loads of Babel errors (cannot recall what they were now).

I ended up just patching webpack config injected by Storybook:

[code]

[2019-09-03 00:07] patricklafrance commented on #43
ok thank you, thank you for your feedback, I will remove the example and revisit it later

[2019-09-04 17:59] patricklafrance opened #105 "Context object provided to hooks should be a clone"

[2019-09-05 21:42] someguynamedmatt commented on #88
@euanmillar Do you have a source for the CRA team stating they intend to support @Aliases?

[2019-09-06 12:23] patricklafrance commented on #96
Closing this issue since there is no activity.

[2019-09-06 12:23] #96 closed

[2019-09-06 12:24] patricklafrance commented on #99
Closing this since there is no activity.

[2019-09-06 12:24] #99 closed

[2019-09-09 13:29] ashishsantikari opened #107 "whenDev, whenCI is not a function or its return value is not iterable"
I am getting the following error when using when, whenDev and whenCI functions in craco.config.js

[code]

My config looks like this.
[code]

CRACO Version: 3.2.3

[2019-09-09 15:48] patricklafrance commented on #107
Hi @ashishsantikari

How do you import `whenDev` ?

Thank you

[2019-09-09 16:26] ashishsantikari commented on #107
Hey @patricklafrance

I imported using require.

[code]

[2019-09-13 23:25] 0b10 opened #108 "Unable to override Jest's testEnvironment"
#### Tried

##### #1

[code]
output:

#### #2

[code]

output:

The override is run in both cases, but the desired result is not achieved

[2019-09-14 17:48] ashishsantikari commented on #107
Is there any updates on this?

[2019-09-15 15:01] patricklafrance commented on #107
Hi @ashishsantikari

Everything seems fine for `whenDev`, do you have a repro case?

As for `whenCI`, sorry I meant to remove it in a previous version but I didn't see it through and the documentation hasn't been updated accordingly. The updated documentation will be release soon.

You can find an alternative here: https://github.com/sharegate/craco/blob/master/changelog/5.5.0.md

Thank you,

Patr

[2019-09-15 15:19] patricklafrance commented on #108
Hi @0b10,

This is quite hard to override with CRACO because CRA override the `testEnvironment` by specifying the CLI argument `--env` and ignore the value specified in the Jest config.

I am not sure why it's done this way, it's seems pretty inconsistant.. Anyway there is not much I can do about it.

If you find a way and you want to submit a PR, I will gladly review and merge it if appropriate.

[2019-09-15 15:19] #108 closed

[2019-09-17 05:29] ashishsantikari commented on #107
@patricklafrance I am able to make it work now. It's too complicated to debug problems in craco config.

[2019-09-17 13:32] #107 closed

[2019-09-19 13:06] #88 closed

[2019-09-25 02:27] devinrhode2 opened #111 "eslint improvements"
(Originally titled: ".eslintrc.js parse/syntax errors are not shown to user")
I was doing some fancy scripting in my .eslintrc.js so that I can change environment variables on the fly, which in turn affect the eslint config that is exported.

I have settings for a gitlab ci pipeline, shows accessibility lint errors and general lint errors, then I have a setting to ignore_airbnb plugin, so that doe

[2019-09-25 12:07] patricklafrance commented on #111
Hi @devinrhode2

I am not sure how to achieve this.

I tried to set the following options to the webpack eslint-loader without success:

[code]

[2019-09-25 17:09] devinrhode2 opened #112 "watch for changes to config files and automatically restart"
It'd be very awesome if craco automatically watched for changes to craco.config.js (and maybe other files you set, like .eslintrc.js) and automatically restarted the dev server.

[2019-09-26 13:47] patricklafrance commented on #112
Hi @devinrhode2

I am not sure this is something I want to add to the core of craco.

That could be an addon or instructions could be added to explain how to do that.

What do you think?

Thank you,

Patrick

[2019-09-26 16:52] devinrhode2 commented on #111
it could be as simple as... turning off eslint-loader... and running some sort of child process for `npx eslint ${eslint options}`.. assuming it can still pickup various babel plugins... and we can 'pipe' the input into the terminal without issues...

tested doing
[code]
in the craco config and it never stops logging to the terminal. I've also never noticed any differences between running `npx esl

[2019-09-26 21:44] patricklafrance commented on #111
If the solution is to remove the eslint-loader and do a straight call to the eslint CLI, to me this is out of scope of craco.

Adding a custom npm/yarn script to the project would do it.

[2019-09-29 14:00] devinrhode2 commented on #112
I'm not really familiar writing with webpack plugins at all

Do you think it'd be possible to write a plugin that watches craco.config.js and re-loads changes from that file?

[2019-09-29 18:10] devinrhode2 commented on #112
I bet there is a simple command that can come before the `craco start` command that could help with this...
Sure enough... using `npm install onchange --save-dev` and set start script to:
[code]
only drawback is that you don't get console clearing. I however do get colors. But I'm not sure I'm too concerned with console clearing right now.

As far as restarting craco dev server when the craco conf

[2019-09-29 22:31] patricklafrance commented on #112
Hi @devinrhode2

Yes, I had something like this in mind! I think that's a very good way to achieve this.

Thank you, I will close this issue since there isn't any further step to do. That will be usefull information if someone else want to achieve this.

Patrick

[2019-09-29 22:31] #112 closed

[2019-09-30 02:30] devinrhode2 commented on #112
Just some notes for anyone looking to do something similar:
First, I am on mac - that's important cause watching files ends up working slightly differently on all systems.

I did try to use entr, seemed like a better more standard module for just doing some simple watching. Before that I had done some very broad google searching, and kept coming around to polling solutions (suggesting using the br

[2019-09-30 14:26] devinrhode2 commented on #111
So I figured out how to restart all the whole dev server when craco.config.js (or any set of files) changes: https://github.com/sharegate/craco/issues/112 - this approach can be used to also watch .eslintrc.js for changes and then in turn, restart the whole dev server.

However, I would love to more surgical refreshing of .eslintrc.js changes.

I wonder if this is possible by...
in craco.config.js

[2019-09-30 16:35] patricklafrance commented on #111
Hi @devinrhode2

Same setup here on my projects. I disabled CRA eslint support and use the vscode eslint plugin instead.

[2019-09-30 19:55] devinrhode2 commented on #111
You could put this issue "on hold" or something like that and close if you don't want it cluttering up issues. Although there's hardly any issues right now anyway, so might be opened back up anyway.

[2019-09-30 20:18] patricklafrance commented on #111
I will close the issue since there no further steps to do. Will be available for info.

Thank you!

[2019-09-30 20:18] #111 closed

[2019-10-03 11:24] ndbroadbent opened #115 "How to update craco-antd for the latest craco?"
Hello,

I'm working on an update for `craco-less` and `craco-antd`, but I'm getting stuck at this point:

[code]

This no longer seems to be working in the latest `craco`. When I inspect the generated webpack config, I can't see any reference to `libraryName` or `libraryDirectory` in the JSON. Has something changed with `cracoConfig` or the `babel.plugins` array? Thanks!

[2019-10-03 16:42] patricklafrance commented on #115
Hi @ndbroadbent

I don't remember that craco had specific support for `libraryName` or `libraryDirectory`. Maybe something changed in CRA?

In version 5.4.0 a fix has been released for plugins, maybe this is what affects your plugin?

For more info view issue https://github.com/gsoft-inc/craco/issues/101

Thank you,

Patrick

[2019-10-03 17:35] ndbroadbent commented on #115
Hello, sorry yes the `libraryName` keywords were just an example from my usage, because I was trying to find them in the generated webpack config, but they were no longer present. E.g. I was trying to see if the configuration had moved somewhere else.

I don't think #101 would cause this issue. Does my code look right in the example? How would you add the babel `import` plugin with some options? T

[2019-10-04 13:42] patricklafrance commented on #115
How do you assert they are no longer present @ndbroadbent ?

I made and a test and outputed the webpack config using the craco api feature, which use basically the same pipeline that the standard craco config override feature but return an object instead of overriding the CRA config and I got this:

[code]

To achieve this config, I added your plugin to my craco config:

[code]

Thank you,

Patric

[2019-10-04 15:37] ndbroadbent commented on #115
Hello,

Yes I can see that the craco config is being updated correctly, but the resulting webpack configuration doesn't include this change.

* [This is where I'm returning `overrideCracoConfig` for the plugin](https://github.com/DocSpring/craco-antd/blob/master/lib/craco-antd.js#L78-L94)

Then I have these [tests for both development and production](https://github.com/DocSpring/craco-antd/blob/ma

[2019-10-09 09:59] ndbroadbent commented on #115
Good news! @Vovan-VE has figured out how to fix the failing tests for craco-antd: https://github.com/DocSpring/craco-antd/pull/23

There was a problem in my test cases. I was previously calling `applyCracoConfigPlugins` and `applyWebpackConfigPlugins`, but this did not produce the correct webpack config. It looks like the correct way is to call the `mergeWebpackConfig` function, and this produces

[2019-10-09 09:59] #115 closed

[2019-10-09 13:03] patricklafrance commented on #115
Awesome, thank you @Vovan-VE !

That's great news!

[2019-10-10 03:49] annjawn opened #116 "craco start with custom environment variables?"
Is it possible to do a `craco start` with a custom environment variable?

For example `HOST_TYPE=nonprod craco start`

Is there any other recommended way? I want to be able to define scripts in my `package.json` so that I can use specific command for specific deployment like

[code]

I want to be able to use `process.env.HOST_TYPE` from within the app. There is the built in `process.env.NODE_ENV`

[2019-10-10 12:01] patricklafrance commented on #116
Hi @annjawn

You can override the the `NODE_ENV ` for the `start` and `test` scripts but not for the `build` script because CRA and React will optimize the output when the env is `production`.

If you want to add additional env var I suggest you use [cross-env](https://www.npmjs.com/package/cross-env).

Something like this will work:

[code]

Hope it helps,

Patrick

[2019-10-10 12:03] patricklafrance commented on #116
Also, for env var within the app, read this [documentation from CRA](https://create-react-app.dev/docs/adding-custom-environment-variables)

[2019-10-10 15:10] annjawn commented on #116
Thanks. Yes I have gone through the React documentation but .env doesn't work for my case. My case is that I have 4 different environments. One is local development, then we have servers test, stage and production. Each have their own set of APIs configs etc. To add to complexity, we have CI Pipelines to ALL those environments from specific Git branches. What I want to achieve here is without over

[2019-10-10 15:43] annjawn commented on #116
Ok i think i found what the issue is the custom Env var name needs to have `REACT_APP_` as prefix, like

`REACT_APP_HOST_TYPE=dev craco start`

then referring to it in the code `process.env.REACT_APP_HOST_TYPE` in the code works.

[2019-10-10 17:20] #116 closed

[2019-10-23 22:40] novascreen opened #117 "`enableTypeChecking: false` no longer works"
When starting CRA with `typescript: { enableTypeChecking: false }` it gets stuck at
[code]

https://github.com/facebook/create-react-app/blob/71946b1ebab445d7e4f9efca39bf0fe0d4be30f3/packages/react-dev-utils/WebpackDevServerUtils.js#L187

it seems to wait for an event from the fork-ts-checker-webpack-plugin

looks related: https://github.com/facebook/create-react-app/issues/5784

[2019-10-24 00:30] rickysullivan opened #118 "I had a crack at creating a favicons plugin"
https://github.com/rickysullivan/craco-favicons

[2019-10-24 00:36] rickysullivan commented on #118
Not yet on npm. Will wait for feedback (if any) before publishing soon.

[2019-10-24 13:34] patricklafrance commented on #118
Hi @rickysullivan

It looks good to me! Thank you!

Feel free to send a PR to add your plugin to the CRACO doc once you published it to NPM!

[2019-10-24 13:36] patricklafrance commented on #117
Hi @novascreen

Thank you for reporting the issue.

I will try to have a look at this before the end of the week.

[2019-10-25 12:51] #118 closed

[2019-10-25 17:02] patricklafrance commented on #117
I made a fix.

This is quite nasty, I had to override the call to the Webpack compiler to force the `useTypeScript` function argument to false.

For now, it's fine since all the code related to TS in this function is to display TS type checking error which is what the option disable.

Might have to revisit this later if they add new functionalities for TS through the Webpack compiler.

I don't use

[2019-10-25 23:05] novascreen commented on #117
I'll try to find some time on the weekend. Thank you for addressing this so
quickly!

On Fri, Oct 25, 2019, 13:02 Patrick Lafrance <notifications@github.com>
wrote:

[2019-10-28 15:51] novascreen commented on #117
@patricklafrance I gave it a try this morning, seems to work. Thank you!

[2019-10-28 19:26] #117 closed

[2019-10-31 17:53] pcmaffey opened #123 "Recipe for using with lerna & yarn workspaces?"
Was under the impression this worked out of the box. But my craco-app is failing to run components from other packages, ie. with same error as standard CRA. ` Failed to compile. Unexpected token` as referenced https://github.com/facebook/create-react-app/issues/1333.

[code]

[2019-10-31 20:29] pcmaffey commented on #123
In case anyone comes across this, here's what I ended up doing, using a crago port of https://github.com/react-workspaces/create-react-app/tree/master/packages/react-scripts
[code]

[2019-10-31 20:29] #123 closed

[2019-11-04 02:23] codejamninja opened #124 "--config not working"
Craco is ignoring --config flag. I think the bug was introduced in the following commit.

https://github.com/gsoft-inc/craco/commit/ce0ba394b724f8de7d608eb4f003bb9089a4fc47

[2019-11-12 15:00] patricklafrance commented on #124
Thanks for the issue!

I will try to release a fix this week.

[2019-11-13 19:37] codejamninja commented on #124
Thanks

[2019-11-15 17:13] #124 closed

[2019-11-15 17:18] patricklafrance commented on #124
Fix in https://www.npmjs.com/package/@craco/craco/v/5.6.2

[2019-11-15 19:08] codejamninja commented on #124
@patricklafrance thanks

[2019-11-16 23:56] AlexBronz commented on #69
Hi,
Can I ask a dumb question? How do I use this craco-base64-inline-loader along with create-react-app scripts? should I just specify it in package.json like "build" : react-scripts craco.config.js? Thanks!

[2019-11-19 14:26] Ognian opened #125 "use babel-plugin-git-version"
this should be as easy as:
craco.config.js:
[code]
BUT
[code]
which means that the plugin did not run ...

I added
[code]
and see that the plugin it is included in babel-loader options but actually the plugin is not executed...

Any idea?
Thanks
Ognian

[2019-11-19 14:39] Ognian commented on #125
![image](https://user-images.githubusercontent.com/1231174/69155758-99f3cd80-0ae2-11ea-9126-25f35a2980b9.png)

This is part of the resulting config. I'm wondering if
[code]
is indeed correct output ...

[2019-11-20 12:24] scorsi opened #126 "How to use environment variables/files ?"
Hello,

I have a file `.env.production` and `.env.development`file with some variables into it.
I use them to change API url depending of the actual NODE_ENV.

[code]
I tried using `cross-env` like : `cross-env NODE_ENV='development' craco start` without success.

How can I use my env files ?

Thanks,

[2019-11-20 12:53] patricklafrance commented on #126
Does it work with CRA without CRACO?

CRA doc for env var: https://create-react-app.dev/docs/adding-custom-environment-variables/

[2019-11-20 13:08] scorsi commented on #126
Ok, I don't know why, really, but it's actually working now...
Thanks for your time !

[2019-11-20 13:08] #126 closed

[2019-11-21 14:05] melMass commented on #69
@AlexBronz You can find a sample use case for font files on it's repo:

### craco.config.js
[code]

If you have trouble, post an issue on the repo itself. ;)

[2019-12-13 14:43] codefln opened #127 "Wrong recipe css-modules"
This recipe doesn't work with CRA 3.3.0
https://github.com/gsoft-inc/craco/blob/master/recipes/use-babel-plugin-react-css-modules/craco.config.js

[2019-12-13 15:32] patricklafrance commented on #127
I stop using the module a while ago.

Could you contribute an update for the recipe?

Thank you,

Patrick

[2019-12-24 09:49] sebastienfi commented on #123
@patricklafrance I would be interested in knowing what you think about this? Also, is there any better recipe for Lerna + Yarn Workspaces + Craco?

[2019-12-24 14:21] patricklafrance commented on #123
Hi @sebastienfi,

 Lerna + Yarn Workspaces should work out of the box with CRACO.

Here's the sample project I use to test the feature: https://github.com/patricklafrance/craco-lerna-and-yarn-workspace

Thank you,

Patrick

[2020-01-02 15:04] patricklafrance commented on #127
@codefln it might be related to https://github.com/gsoft-inc/craco/pull/130

[2020-01-02 15:09] #104 closed

[2020-01-02 16:05] qub1n opened #131 "Add support for JSON5"
I would like to use comments in JSON using JSON5 extension like this:

const data = require('./data.json5');
export default data;

There is already json5-loader for this, but it seems to me that it cannot be used with a craco build unless it is somehow supported by a plugin.

I tried to add a module into config overwrites without any success:

config-overrides.js:

module.exports = {
    module: {

[2020-01-02 16:47] patricklafrance commented on #131
Hi @qub1n

You're right without a webpack or babel plugin you need to configure either use CRACO [webpack.configure](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#configuration-overview) or build a [custom craco plugin](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#develop-a-plugin).

I think `config-override.js` is related to [react-app-rewired]

[2020-01-04 12:36] OnkelTem opened #132 "Cannot override webpack's resolve"
I created a `craco.config.js` with the following content:

[code]

And it didn't make any difference, paths are not resolved.
This is strange, because according to both webpack and craco documentation it MUST work.

Then I created my own plugin and it seems to work now:
[code]

But I believe it can be achieved using just plain config override, as it should be.

[2020-01-04 15:34] patricklafrance commented on #132
Hi @OnkelTem,

No it's not diffectly supported, you need to either use

[code]

[2020-01-05 14:39] OnkelTem commented on #132
@patricklafrance Oh, I see, thanks!
Then it might have been announced more clearly I believe :)

[2020-01-05 16:17] #132 closed

[2020-01-05 20:19] uiii commented on #127
Yes it doesn't work. Please fix it. I don't know how to fix, if I try to use the patter `[name]_[local]__[hash:base64:5]` it doesn't help, because the name is replace with `<filename>-module` but CRA uses only `<filename>` apparently.

[2020-01-05 20:25] uiii commented on #127
Ahh, I've just upgraded craco to the latest version an it works fine.

[2020-01-05 22:04] patricklafrance commented on #127
Awesome, I will the issue then.

[2020-01-05 22:04] #127 closed

[2020-01-06 07:47] thomasjonas opened #133 "webpackHotDevClient not working with HTTPS"
When settings the environment variable `HTTPS=true` it starts the dev server correctly. It just can't connect to the webpackHotDevClient anymore as it uses `ws://localhost:3000/sockjs-node` as url and not `wss://localhost:3000/sockjs-node`. Any idea on how to use the correct URL?

[2020-01-06 14:29] thomasjonas commented on #133
I see it's a bug in react-scripts 3.3 (https://github.com/facebook/create-react-app/pull/8079) So I downgraded to 3.2 and everything now works as expected! This issue can be closed.

[2020-01-06 14:48] #133 closed

[2020-01-07 06:36] takhello commented on #76
It seems that react is not very sound, not very willing to use

[2020-01-08 19:50] nirvdrum opened #134 "Missing changelog for 5.6.x"
I just saw there was a 5.6.3 release and went to see what changed. It looks like the changelog fell out of date. There's nothing for the 5.6.x series at all in the `changelog/` directory. Fortunately, there weren't many commits between 5.6.2 and 5.6.3, so I could work that out by digging through the code. But, that process becomes a lot harder the more releases there are.

[2020-01-08 20:36] patricklafrance commented on #134
Hi @nirvdrum

Sorry, the original idea was to only add breaking changes to the changelog. This is quite sloppy. When I made this decision, CRACO was still my first OSS project and I did not care much about these concerns.

Learned a few tricks along the road. In the future, i'lll try to be more accurate and list all the changes in the matching Github release.

Thank you,

Patrick

[2020-01-08 20:36] #134 closed

[2020-01-08 22:18] nirvdrum commented on #134
No problem. Thanks for putting this project together in the first place.

[2020-01-09 16:05] #125 closed

[2020-01-10 10:35] lmlife2016 opened #135 "craco.config.js devServer.proxy is not work"
my craco.config.js looks like the following:
[code]
my react app is running at http://localhost:3000

The result of requesting http://localhost:3000/api/get is ‘404(not found)’
![image](https://user-images.githubusercontent.com/23518009/72145835-42812800-33d6-11ea-9a80-950eb28fba2d.png)

But it's okay to request http://localhost:3001/get
![image](https://user-images.githubusercontent.com/23518009/

[2020-01-10 15:47] tmock12 commented on #44
@patricklafrance I have the same need, does the merge work?

Wouldn't the merge just concat a completely new object?  something like :

[code]

[2020-01-10 16:43] patricklafrance commented on #44
@tmock12 Craco doesn't merge the webpack section. To merge you have to use

[code]

[2020-01-10 16:58] tmock12 commented on #44
@patricklafrance

I think I'm missing something. But when you do use configure, like you have posted:

[code]

wouldn't the merged config have two of those `TerserPlugin` objects?

[code]

So as example app:
[code]

[2020-01-10 17:18] patricklafrance commented on #44
Yes as you pointed out craco use `webpack-merge` to merge the `configure` object into the resulting webpack config. If it works with `webpack-merge` it should be fine.

Otherwise maybe it's overrided somewhere else? Maybe by a craco plugin?

How do you validate if the resulting webpack config? One way to do it use to use the [craco api](https://github.com/gsoft-inc/craco/blob/master/packages/craco

[2020-01-11 07:37] rizkyramadhan opened #136 "Error on fresh install"
$ craco start
internal/modules/cjs/loader.js:969
    throw err;
    ^

Error: Cannot find module 'react-scripts/config/env.js'
Require stack:
- ~/node_modules/@craco/craco/lib/cra.js
- ~/node_modules/@craco/craco/scripts/start.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:966:17)
    at Function.resolve (internal/modules/cjs/helpers.js:78:19)

[2020-01-13 02:47] patricklafrance commented on #136
Hi @rizkyramadhan

It's hard to help you without more information about your setup.

Patrick

[2020-01-13 06:31] rizkyramadhan commented on #136
nevermind, I forgot to yarn add react-scripts. Fixed when adding it.

[2020-01-13 06:31] #136 closed

[2020-01-13 08:27] liorfrenkel commented on #44
hey guys, in order to change the terser config, use the plugins section of craco:

[code]

here I find the index of the terser plugin by searching for `terserOptions`
then I use that object to add/override the `reserved` option.
I hope that helps!

[2020-01-13 14:31] patricklafrance commented on #44
@liorfrenkel thank you for your help!

By the way, you should release a craco plugin with this code :)

[2020-01-13 17:01] patricklafrance commented on #44
@tmock12 I made a test with:

[code]

Here's the `optimization.minimizer` section of the resulting webpack config:

[code]

As you can, the native CRA Terser config is the first object and my custom Terser config is the last object of the section.

I guess `wepack-merge` isn't smart enough to understand that the minimizer array contains two instances of the same plugin and he should merge them. Wh

[2020-01-13 22:38] patricklafrance commented on #135
Hi @lmlife2016

I tried your config and I get the following output from CRACO:

[code]

As you can see, the proxy section have been added to the resulting dev server config. Which make me thinks your problem is not with CRACO but somewhere else in your setup.

Thank you,

Patrick

[2020-01-15 03:39] lmlife2016 commented on #135
I checked and tried it again, and it worked, I'm confused. Anyway, thank you very much for your reply

[2020-01-15 03:39] #135 closed

[2020-01-17 10:09] rahulthewall opened #137 "source-map-explorer broken? Better/another way to analyse bundle size?"
I am trying to use source-map-explorer to visualise my bundle size, but that does not seem to be possible. Is there something wrong I am doing?

Here's my package.json (relevant part)

[code]

The build/static/js directory has the following files

[code]

I then run source-map-explorer, but it doesn't seem to be doing anything. It's stuck at the following message

[code]

Is there a better way to

[2020-01-17 14:00] patricklafrance commented on #137
Hi @rahulthewall,

I am no expert with using source-map-explorer but I do not believe craco add any constraint to the tool usage. I'm I wrong?

Patrick

[2020-01-21 16:04] rahulthewall commented on #137
Hi @patricklafrance,

Apparently it just takes really long (nearly an hour). But it works. :)

[2020-01-21 16:04] #137 closed

[2020-01-29 18:48] manishmawat opened #138 "syntax error on craco build"
Informations

Node.js version: v8.0.0
npm version: 5.0.0
nvm:1.1.7
Operating system: Windows 10
What is the current behavior?
syntax error on craco build pointing the toward spread operator (...)

craco.config.js:

[code]
package.json:
[code]

Steps:
- Running "npm run build"  command which is triggering "craco build" and getting below error.

Error:-

[code]
![image](https://user-images.githubuse

[2020-01-29 19:12] patricklafrance commented on #138
I don't know how to help you with the information you currently provide.

[2020-01-29 20:40] manishmawat commented on #138
@patricklafrance : Added more information.
Initially it was not recognizing craco so I installed craco "npm install @craco/craco". Now the craco is there but giving syntax error on build.

[2020-01-29 21:51] manishmawat commented on #138
it related to the node version, I had node version 8.0.0 and ... (spread operator) is part of ES6 and ES6 support node => 8.10. After moving to 8.17.0, I am able to build the solution.
Closing the issue.

[2020-01-29 21:51] #138 closed

[2020-01-30 21:28] marioliu opened #139 "How does craco optimize for prod?"
I'm running into a bug where something works locally when using `craco start`, but fails when using `craco build`. Is there anything that `craco build` does that could be the issue?

[2020-01-30 22:55] patricklafrance commented on #139
Hi @marioliu,

`craco build` other that calling create react app `build` script and setting the env to `production`.

Create react app `build` script is doing a bunch of stuff though, I suggest having a look at the following cra doc: https://create-react-app.dev/docs/production-build/

[2020-02-08 17:42] #131 closed

[2020-02-10 10:31] mraak opened #140 "Not picking up config?"
Probably something I did wrong though I followed a guide.

[code]
[code]

Then I tried to build it:
[code]

But it still gets built into the `build` folder, not `dist`, and neither do chunks have CCCCCC in the name. I tried few other settings like filename, but also not picking up.

[2020-02-10 14:41] patricklafrance commented on #140
Hi @mraak.

Modifying paths is not supported by CRACO.

Thank you,

Patrick

[2020-02-10 14:45] patricklafrance commented on #140
If you still want to do it, I suggest you use override the webpack config manually using:

[code]

The following should work:

[code]

More info at: https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#configuration-overview

[2020-02-10 14:46] mraak commented on #140
@patricklafrance So I guess I can't either prevent the splitting? The original intent was to use CRACO to build everything in only a single file - bundle.js or similar.

[2020-02-10 15:05] mraak commented on #140
@patricklafrance The solution above is doing something but breaking the build. In any case what I wanted to override the config for was to prevent the splitting into chunks.

Tinkering with this now, making some progress, but do you happen to know exact config to prevent splitting?

[code]

[2020-02-10 16:47] patricklafrance commented on #140
Hi @mraak

What is the error?

Does the error is related to craco or a bad webpack config?

If you need to use a different config base on the build /env, you can configure a different craco config file for dev or build script or you can leverage craco env utilities: https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#when-whendev-whenprod-whentest

[2020-02-11 07:44] varghesethomase opened #141 "Tslint ignores not respected"
I am using craco version 5.6.3 along with react-scripts version 3.3.1 and found that no longer is typescript parser respecting the ts-ignore comments and throws error for each one of them.
[code]

[2020-02-11 08:35] mraak commented on #140
@patricklafrance

[code]

So applying this output config results in the following.
- First the build folder gets created and CRA starts building there
- Then also the `dist` folder gets created
- Then the build fails with the following error:
`ENOENT: no such file or directory, open 'C:\dev\projects\myApp\build\0-ASDF.js'`
- It looks like `build/static/js` has no chunks and no webpack compiled js,

[2020-02-11 14:09] patricklafrance commented on #141
Hi @varghesethomase

I am not sure this a problem with CRACO.

What makes you think this is CRACO which introduces the problem?

[2020-02-11 15:57] varghesethomase commented on #141
I believe it wasnt a problem with the craco either. Had a chance to fix this by solving a specific set of issues that showed up during the craco compilation which earlier hadnt shown up with react-scripts 3.3.1 though. Thanks for the quick reply @patricklafrance

[2020-02-11 15:57] #141 closed

[2020-02-12 05:28] kristiandrex opened #142 "npm run eject remove required modules"
`npm run eject` remove react-scripts module that craco requires

![Screenshot](https://user-images.githubusercontent.com/26419041/74305391-c871f500-4d2d-11ea-9067-769795ac6a60.png)

[2020-02-12 14:57] patricklafrance commented on #142
Hi @kristiandrex

If you eject, you don't need CRACO anymore.

CRACO have been built to let you customize CRA without ejecting.

Thank you,

Patrick

[2020-02-12 14:57] #142 closed

[2020-02-12 17:04] kristiandrex commented on #142
Oh, thanks for the explanation.

[2020-02-14 13:33] patricklafrance commented on #140
Hi @mraak

I am not sure how to help you on this.

The goal of CRACO is to give you the ability to update the webpack config of CRA which seems to be fine at the point.

I guess you need to update some other pieces of the webpack config to make this work but I can't tell which one.

Patrick

[2020-02-17 09:35] mraak commented on #140
Yep, agreed. It's the tweaking of config that has to be figured out.

[2020-02-17 09:35] #140 closed

[2020-02-20 07:34] OnkelTem opened #143 "How to disable CRA hot reload?"
Would you please share a recipe of hot reload disabling?

[2020-02-20 14:15] patricklafrance commented on #143
Hi @OnkelTem

By looking at webpack devServer config it's like the 2 options you want to turn off are:

- `hot`:  https://webpack.js.org/configuration/dev-server/#devserverhot
- `inline`: https://webpack.js.org/configuration/dev-server/#devserverinline

So I would do this:

[code]

Hope it help!

Patrick

[2020-02-21 16:48] brndnmtthws opened #144 "Conflict with yarn autoclean"
The [`yarn autoclean`](https://classic.yarnpkg.com/en/docs/cli/autoclean/) default `.yarnclean` values includes `test`, which conflicts with part of this package.

Specifically, there's a directory called `test` located within the package: https://github.com/gsoft-inc/craco/tree/master/packages/craco/lib/features/test

I suggest renaming that path so it doesn't get wiped out by autoclean.

[2020-02-24 14:50] adi518 opened #146 "Can I merge Craco configs?"
Is there an API for merging entire Craco configs together? I'm creating a CLI tool for generating an internal CLI tool, so eventually there would be three configs I want to merge together.

[2020-02-26 13:30] bazo opened #147 "adding stylus loader"
Hi,

how can i add stylus loader https://github.com/shama/stylus-loader ?

i'm interested mainly in this part
[code]

thanks

[2020-02-28 04:26] patricklafrance commented on #146
Hi @adi518,

No there is nothing like this at the moment.

Patrick

[2020-02-28 04:36] patricklafrance commented on #147
Hi @bazo,

I am not familiar with stylus so I don't know the exact recipe.

Usually when you want to add/update/delete a loader you should use [webpack.configure](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#configuration-overview) in the function format:

[code]

Or write a [custom plugin for CRACO](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md

[2020-02-28 11:23] adi518 commented on #146
I see. I'll try to come up with a solution.

[2020-02-29 23:10] adi518 commented on #146
How hard would it be to support an array of functions instead of a single function? For example:
[code]
It doesn't seem to make sense, but imagine every function is read from a different Craco configuration source. I want to be able to merge the result of each function, while keeping the merge responsibility within Craco of course.

[2020-03-01 15:12] patricklafrance commented on #146
Hi @adi518,

I understand how it might be useful for your very specific use case but I don't think this is something that would improve CRACO since it already give enough flexibility by accepting an object literal or a function.

Have a look at the following code: https://github.com/gsoft-inc/craco/blob/master/packages/craco/lib/features/webpack/style/css.js#L29

This is done with lodash mergeWith

[2020-03-01 15:29] adi518 commented on #146
Having looked at the API again, maybe I can merge them via plugins? like so:
[code]

[2020-03-01 18:39] patricklafrance commented on #146
I doubt this is what you want, have you try it? I don't think there is anything in CRACO that will merge the configs for you.  My advice here is to write the merge code in your CLI.

The error happens because you returned an invalid CRACO config. In this case `reactScriptsVersion` is missing.

After CRACO load the user config, CRACO will merge the user config with the DEFAULTS which contains a def

[2020-03-01 19:01] patricklafrance commented on #146
I had a quick look at your project and my first though is if your concerns are distribution and avoiding redundant boilerplate code, you should instead provide a custom CRA template already configured with CRACO and a default `craco.config` file already setup with all the customizations that you need?

[2020-03-01 19:10] patricklafrance commented on #143
Let me know if it works for you @OnkelTem, if it does I will create a recipe to share the knowledge.

[2020-03-01 19:10] #139 closed

[2020-03-01 19:38] adi518 commented on #146
Sweet, I'll have a look at that, missed it somehow. The main purpose of the CLI is to bootstrap a custom CLI (`npx react-ryo-cli init` would create a CLI boilerplate). I also added a script for updating package.json, so you can easily replace the CRA scripts with your Craco based CLI scripts. That lead me into another idea for replacing CRA init and it seems custom templates would fit well in doin

[2020-03-01 20:50] patricklafrance commented on #146
I agree, that's why I am not much inclined into adding a merge api to CRACO. It sounds like a lot of maintenance.

[2020-03-01 21:11] OnkelTem commented on #143
Ah, sorry @patricklafrance, I haven't worked on that project again yet, it's still on pause. I'll let you know soon!

[2020-03-03 02:24] #146 closed

[2020-03-03 02:41] adi518 commented on #146
So, for now I decided to go for the following approach. I will initiate Craco with my package own `craco.config.js`, then load the consumer config file, attach my plugin to it and return that. Sounds right?

As for merging, merging an app config file is quite an edge case and counters the goal of the cli purpose anyway, so I'll drop it.

[2020-03-03 15:25] cjones26 opened #148 "Cannot kill WDS with CTRL+C with craco + >react-scripts@3.3.0"
Hi,

After upgrading my react-scripts to version 3.3.0, I am no longer able to kill webpack-dev-server with CTRL+C.  After reverting to 3.2.0, I am no longer having any issues, and I am properly able to close WDS. I am running Windows 10, FYI.

Thanks!

[2020-03-03 16:39] patricklafrance commented on #148
Hi @cjones26,

I doubt this problem is caused by CRACO, I suggest you create an issue on https://github.com/facebook/create-react-app

Patrick

[2020-03-05 16:24] liokm commented on #43
Simply merge seems not work. With the help of `preset-create-react-app` it could work. I have raised an issue here https://github.com/storybookjs/presets/issues/109

[2020-03-20 19:08] manuschillerdev opened #151 "Load css / scss modules without .module filename"
Thanks for your great tool!!

I want to use css / scss modules without the need for the `x.module.s?css` filename convention used by cra to trigger the modules loader configuration.

I came up with the following solution (which works 🎉 ), but it seems kind of hacky to compare the regexes and mess with the loaders array based on that.

Is there any more elegant solution for this?

`craco.config.js`

[2020-03-22 15:57] #148 closed

[2020-03-22 15:57] #147 closed

[2020-03-24 18:31] manuschillerdev opened #152 "Run linter only?"
Is it possible to run eslint with configuration provided in `craco.config.js` in a single task?

[code]

[2020-03-24 18:59] patricklafrance commented on #152
Hi @manuschillerdev

No, it is not possible. CRACO only support CRA scripts which are `start`, `build` and `test`.

Patrick

[2020-03-29 13:43] #152 closed

[2020-04-09 00:00] #105 closed

[2020-04-09 00:00] #49 closed

[2020-04-10 13:45] DTX-92 opened #155 "Can I build my app into single js file?"
Tried this one, but it didn't help:
[code]

[2020-04-17 01:40] Grawl opened #158 "Error: Cannot find module './lib/features/test/api'"
Trying to add a loader.

Didn't find a recipe, found some snippets in issues.

Here's the code causing me an error:

[code]

[code]

This file don't exist in my `node_modules`. Even `lib/features/test/` folder don't exist.

[code]

[2020-04-17 12:48] patricklafrance commented on #158
Hi Grawl,

Could it be your issue? https://github.com/gsoft-inc/craco/issues/144

[2020-04-17 13:30] Grawl commented on #158
Yes.

[2020-04-17 13:37] Grawl commented on #158
I just removed all 'tests' section from `.yarnclean`

[motivation here](https://github.com/gsoft-inc/craco/pull/145#issuecomment-615247938)

[2020-04-26 04:14] dilakv commented on #155
Same issue.

[2020-04-26 18:52] dilakv commented on #155
This worked for me.

Generate one file with css and one with js.

`

module.exports = {
  webpack: {
    configure: {
      output: {
        filename: 'main.js',
      },
      // externals: {
      //   react: {
      //     root: 'React',
      //     commonjs2: 'react',
      //     commonjs: 'react',
      //     amd: 'react',
      //     umd: 'react',
      //   },
      //   'react-dom': {

[2020-04-26 21:43] etylsarin opened #159 "How to remove/replace webpack plugin?"
Hi @patricklafrance ,
is there an easy way, how to remove or replace a particular webpack plugin?
Thanks!

[2020-04-27 00:51] patricklafrance commented on #159
Hi @etylsarin

No there isn't. Since most plugins are object instances I haven't found a way to reliably identify a specific plugin in the webpack config plugins array.

[2020-04-27 06:06] etylsarin commented on #159
well, I know that rescripts do it based on constructorName which works quite well: https://github.com/harrysolovay/rescripts#removewebpackpluginconstructorname-config

[2020-04-27 06:12] etylsarin commented on #159
And also react-app-rewired has a plugin to do so: https://github.com/sigged/react-app-rewire-unplug

[2020-04-27 13:30] patricklafrance commented on #159
@etylsarin thanks i'll have a look. Won't be this week though.

[2020-04-27 14:52] etylsarin commented on #159
np, ty!

[2020-04-28 07:46] chayeoi opened #160 "How can I turn on `requireEnsure` option?"
I am using [pdf.js](https://github.com/mozilla/pdf.js/) in my project.

When using this library with cra, the following output is displayed on the console.

(See [mozilla/pdf.js#10324 comment.](https://github.com/mozilla/pdf.js/issues/10324#issuecomment-447174852))

When ejected, this option is set as below.

[code]

I would like to remove this option or change the value to `true` using craco with

[2020-04-29 06:28] chayeoi commented on #160
I solved the issue by getting an existing webpack configuration object and returning a new configuration object.

[code]

[2020-04-29 16:25] patricklafrance commented on #160
Sounds good to me, CRACO doesn't have anything out of the box for these specific use case.

If you feel like getting this a step further, you could write a small CRACO plugin to share the good with others.

Here's the docs for plugins: https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#develop-a-plugin

[2020-04-29 16:55] yohanb commented on #96
@jarakkal I'm assuming the build works fine locally?  Are you using the same nodejs version?
Also, can you include the error you are getting?
Thanks

[2020-04-29 17:21] patricklafrance commented on #151
Hi @manuschillerdev

I am not sure as far as what would be the optimal webpack config to achieve this.

However I can tell you that CRACO doesn't offer anything native. You could use those [utilities](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#utility-functions) for the code that find and remove loaders.

Maybe someone else will have a better answer for you.

Patrick

[2020-04-29 22:53] jarakkal commented on #96
Only Docker build fails
When I run `npm run build` on my computer, it compiles successfully.

My computer node version is 8.17.0

Docker build error as follows:

Creating an optimized production build...

                    The build failed because the process exited too early.
                    This probably means the system ran out of memory or someone called
                    `kill -9` on

[2020-04-30 00:55] jarakkal commented on #96
I got it to build with docker using node version 11.4

[2020-04-30 13:28] qwerty2k opened #161 "webpackHotDevClient - make socket connect over ws not wss?"
First up: Thank you for this package, it has helped me tremendously in integrating CRA into the way I need it configured to work in my local environment!

In webpackHotDevClient.js for CRA (https://github.com/facebook/create-react-app/blob/master/packages/react-dev-utils/webpackHotDevClient.js) on line 62 where it sets protocol is just checks the current window.location and sets it secure if the c

[2020-04-30 14:22] #161 closed

[2020-04-30 16:27] stefansandulescu opened #162 "Adding uncompiled typescript library"
I have a "common library" written in Typescript and I want to use it in a couple more projects. I don't want to create a npm package from it, I just want to import it as "uncompiled package" but I'm having trouble setting this up.
I tried adding ```ts-loader``` and excluding the module like this:
[code]
However, this results in ```Error: TypeScript emitted no output for /path/to/index,tsx```.
Can

[2020-04-30 17:38] yohanb commented on #96
@jarakkal great!  Happy it was a simple solution.

[2020-04-30 23:30] jarakkal commented on #96
@yohanb I have another problem.
In my local, I can see the generated style sheets being applied to the elements.
But in the production, the style sheets although present in the headers are not being applied to the elments. The elements are just getting the user agent styles (chrome browser)

[2020-05-05 09:30] #162 closed

[2020-05-06 16:19] asleepingpanda opened #163 "Extend resolve.extensions"
I am trying to extend webpack's resolve.extensions so that I can use the following file type: fileName.sandbox.js.

I've followed the documentation for setup and been ready through the API docs. I just can't seem to get anything to work. Before I go all out and build a plugin to do this, I wanted to check in and see if I'm missing something simple.

The things I've tried are:

[code]

Neither of w

[2020-05-07 15:08] asleepingpanda commented on #163
*** UPDATE ***

Reading through the documentation again, I think I understand that I was not at all configuring my craco.config.js correctly. Below is the code that I attempted, neither of which are working. What else am I missing? I feel like I'm so close to getting this!

[code]

[2020-05-07 15:23] asleepingpanda commented on #163
... I'm so sorry... I was doing `module.export` instead of `module.exports` My bad!! Works perfectly!!

[2020-05-07 15:23] #163 closed

[2020-05-07 16:16] patricklafrance commented on #163
Haha no worry, thanks for the update @asleepingpanda

[2020-05-19 02:45] renleiabc opened #164 "How to configure sourcemap"
![image](https://user-images.githubusercontent.com/24283195/82278914-e8185980-99bd-11ea-99a9-effacbffaaed.png)

[2020-05-25 15:21] TCMiranda commented on #123
Hey @patricklafrance I also think that this support should be more clear.

As far as I understood, "siblings" packages won't be compiled by default, but I thought they were after I read the main readme.

In addition to pcmaffey [answer](https://github.com/gsoft-inc/craco/issues/123#issuecomment-548555771), the plugin https://github.com/rjerue/craco-babel-loader seems to be a reasonable approach to

[2020-05-26 14:30] billtlee opened #165 "help with using craco with docker"
I am trying to get craco to work with my app which is running in a docker image.  For some reason after I install craco I am getting an error when running it saying there is a webpack conflict.  It's putting webpack 4.43.0 and react scripts requires 4.42.0.

This is what I am getting when I run npm list webpack

/app # npm list webpack
app@0.1.0 /app
+-- craco@0.0.3
| `-- webpack@4.43.0
`-- react-

[2020-05-26 18:11] patricklafrance commented on #165
Hi @billtlee

As you can here https://github.com/gsoft-inc/craco/blob/master/packages/craco/package.json

CRACO doesn't have any dependencies on webpack. Maybe the problem is somewhere else in your setup?

Thank you,

Patrick

[2020-05-27 02:50] billtlee commented on #165
Thanks for the reply Patrick.  It was a user error.  I missed the @ sign so it was installing another package.  But now when I try to launch the app using craco start the container just exits right away.  Seems like the non blocking issue but I don't know how to get around it.  Have you tried using this with docker?  If so, any tips on how to get it working correctly?  Thanks!

[2020-05-27 10:41] soriyath commented on #55
Does not work for me.

[2020-05-27 14:02] patricklafrance commented on #165
I have not personally use it with docker. @yohanb do we host or compile our front end with a docker container?

[2020-05-27 15:11] yohanb commented on #165
@patricklafrance no.  @billtlee can you show us the contents of the `dockerfile` and the ENTRYPOINT?

[2020-05-27 15:48] billtlee commented on #165
Hi Yohan,

Here is our docker file:

FROM node:12-alpine

RUN apk --no-cache add --virtual builds-deps build-base python

RUN npm install -g nodemon

WORKDIR /app

COPY package.json /app/package.json

RUN npm install

COPY . /app

USER node

CMD ["npm", "run", "start"]

From: Yohan Belval <notifications@github.com>
Reply-To: gsoft-inc/craco <reply@reply.github.com>
Date: Wednesday, May 27, 2020 at

[2020-05-27 15:55] billtlee commented on #165
Hi Yohan,

Here is our docker file:

FROM node:12-alpine

RUN apk --no-cache add --virtual builds-deps build-base python

RUN npm install -g nodemon

WORKDIR /app

COPY package.json /app/package.json

RUN npm install

COPY . /app

USER node

CMD ["npm", "run", "start"]

Here is our package.json

{

  "name": "app",

  "version": "0.1.0",

  "private": true,

  "dependencies": {

    "@antv/data-se

[2020-05-27 17:27] yohanb commented on #165
@billtlee you're starting the app in development mode with `npm start`and this uses the development server.  Can you provide the logs of the failed container?

[2020-05-27 17:28] yohanb commented on #165
this might be of interest: https://www.robinwieruch.de/docker-create-react-app-development

[2020-05-28 08:01] billtlee commented on #165
@yohanb I finally got it to work.  I added tty: true to my docker file.  Although the logging behavior is a bit annoying now so a bit harder to debug.  The container wasn't failing, npm just calls craco and as soon as it hands off to craco it considered it as a success and exit with an exit code of 0.  If you guys figure out another way to get this to work, please let me know.  Thanks!

[2020-05-28 15:33] yohanb commented on #165
@billtlee good news!  I'm surprised you had to do that... might have to do with the fact that it's in dev mode.  Personally I would build the production assets and run it with a different web server like express or nginx.

[2020-05-29 01:26] billtlee commented on #165
I am using nginx for production.  Wanted to use nodemon for development.

[2020-05-30 07:42] renleiabc opened #166 "Support for the experimental syntax 'decorators-legacy' isn't currently enabled"

[2020-05-30 07:47] renleiabc commented on #166
![image](https://user-images.githubusercontent.com/24283195/83322717-92c92b80-a28c-11ea-8990-35f664fa2bd7.png)
Using mobx and craco in projects,How to configure？

[2020-05-30 17:34] patricklafrance commented on #166
https://github.com/gsoft-inc/craco/blob/master/recipes/use-mobx/craco.config.js

[2020-05-31 19:53] gauravmarsoniya commented on #55
Does not work for me.

[2020-06-02 12:31] #151 closed

[2020-06-04 09:25] gregoryforel commented on #165
Hi @billtlee , I'm facing the same issue, but not very well versed with docker. Would you be so kind to share your configuration (docker / docker-compose) please?

[2020-06-04 11:58] billtlee commented on #165
Hi @gregoryforel, I am not very good at docker either.  But I will try my best.

Here is my docker file for the client service:

[code]

In my package.json I have

`"dev": "nodemon craco start"`

Here is the client section in my docker-compose.yml

[code]
notice the last line tty: true.  This is what made it work.  However the terminal logging is acting a bit strange.  Debugging is not as easy as

[2020-06-05 10:04] gregoryforel commented on #165
That's great! Was able to make it work as well. Thank you so much!

On Thu, 4 Jun 2020, 13:58 billtlee, <notifications@github.com> wrote:

[2020-06-06 10:45] billtlee commented on #165
Glad I can help.  To get around the terminal logging, I am now starting each service individually in multiple terminal tabs as such:

docker-compose up serviceName

[2020-06-06 12:27] gregoryforel commented on #165
Thanks. I'll pass this info to the team!

On Sat, 6 Jun 2020, 12:45 billtlee, <notifications@github.com> wrote:

[2020-06-15 09:45] JessicaDuan opened #168 "How to modify appBuild path"
The default path is 'build', but I want to change it into something else, how can I do it in craco?

[2020-06-15 15:51] patricklafrance commented on #168
Hi @JessicaDuan

Not currently :(

[2020-06-16 03:22] JessicaDuan commented on #168
okay, temporarily maybe I'll use
`"build": "craco build && mv build anotherBuild"`
thanks for your reply

[2020-06-19 15:53] chentianxin opened #169 "Failed to configure webpack entry"
[code]

[2020-06-19 19:44] patricklafrance commented on #169
Hi @chentianxin

It doesn't seem to be an error related to CRACO.

CRACO let you customize CRA config but it is your responsibility to provide valid config.

Patrick

[2020-06-21 20:49] ashishsantikari opened #170 "How to add script tag to final build depending on environment?"
Hello there,

I am looking for a decent/non-hacky approach to append a javascript file to the final built index.html file.
**Use Case**: Add _only-prod.js_ to _index.html_ when the _build environment_ is **production**.

**Current implementation**: Irrespective of the environment, add the script file to index.html, _which throws an error in dev mode as the file appended might be syntactically inco

[2020-06-22 01:37] patricklafrance commented on #170
Hi @ashishsantikari

I am not familiar with the `html-webpack-tags-plugin` plugin but it seems pretty straightforward it should work if your public path + the tag name match an existing file.

As for how to do it with CRACO, using `whenProd` is the way to go.

Patrick

[2020-06-22 08:29] ashishsantikari commented on #170
Okay.

As per the doc, **mode** property can be either _extends_ or _file_. **mode** property is not applicable for webpack config as I can see in the API. So, does it extend or replaces the existing webpack configuration?

[2020-06-22 12:10] AK-101111 opened #171 "Enabling Fast Refresh through craco?"
create-react-app most recently added the experimental functionality of Fast Refresh through the .env variable FAST_REFRESH=true (which didn't work)
What modifications are required in the craco config to enable this?

[2020-06-22 15:42] patricklafrance commented on #171
Hi @AK-101111

You can set the env variable as specified in CRA docs, it should work. You could also submit a PR to add support for fast refresh to CRACO.

Similar features are supported by this code: https://github.com/gsoft-inc/craco/blob/master/packages/craco/lib/features/dev-server/set-environment-variables.js

[2020-06-22 15:45] patricklafrance commented on #170
The "mode" property is only available for the `style.postcss` and `eslint` sections and would be a complete override if you choose "file".

The current behavior is to concat the existing plugins with the new plugins.

[2020-06-22 15:47] patricklafrance commented on #170
A smarter merge could be achieved is someone is willing to send a PR.

There is an issue here: https://github.com/gsoft-inc/craco/issues/159

[2020-06-23 07:41] AK-101111 commented on #171
Thank u for your response @patricklafrance
Regardless of setting the environment variable I could not get it Fast Refresh to play.

On the other hand I imported @pmmmwh/react-refresh-webpack-plugin
and simply added it to the webpack plugins through CRACO and ... it worked!

[2020-06-23 14:49] #158 closed

[2020-06-23 15:43] patricklafrance commented on #171
That's odd, does fast refresh work with a fresh CRA app?

[2020-06-24 07:47] #169 closed

[2020-06-27 09:05] DamonMuscle opened #172 "devserver associated setting may not come to effect when use function"
module.exports = {
  /*config 1*/
  devServer: (devServerConfig, { env, paths, proxy, allowedHost }) => {
    devServerConfig.port = 3009;
    return devServerConfig;
  },
  /*config 2*/
  devServer: (devServerConfig, { env, paths, proxy, allowedHost }) => {
    return { ...devServerConfig, port: 3009 };
  },
  /*config 3*/
  devServer: {
    port: 3009,
  },
};
When I use config 1 or 2, the setti

[2020-06-28 05:14] n3ps commented on #66
What if the entry file you want to use is on a directory on the same level as CRA's expected `src`? It throws an error about Relative imports outside of src/ are not supported.

[2020-06-28 11:43] tamb commented on #169
@patricklafrance I am running into a similar issue.  Most of my aliases work.  Some of them don't.  I then try renaming them and they still fail.  I rewrite the definition so it's perfect and it fails still

[2020-06-28 15:28] n3ps commented on #169
Same problem. The project doesn't use the `src` name and I can't reconfigure.

[2020-06-28 21:33] patricklafrance commented on #169
Hey guys,

CRA seems to resolve the entry path, maybe you need to do something similar?

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js#L185
https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/paths.js#L88

We don't update CRA entry path at GSoft, so this is not something we tried.

If you think it should

[2020-06-29 02:27] n3ps commented on #169
Sorry I wasn't clear enough. Yes, CRACO works if the project has `src` like most projects do.

My problem is the project I inherited __does not__ use `src` for reasons I have not control over. If I could I'd simply rename it.

Anyway, so it looks like in CRA's code they hard-coded it to look for `src/index` and there's no easy way to override.

[2020-06-29 02:51] MrMeiyu commented on #166
@renleiabc hi! Have you solved the problem?

[2020-06-29 14:21] patricklafrance commented on #169
Oh sorry I understand now.

Yes sadly in CRA they hardcoded a bunch of paths.

[2020-06-30 03:29] patricklafrance commented on #172
Hi @DamonMuscle

Not much I can do for this one.

With option 3 CRACO set CRA PORT env variable (https://create-react-app.dev/docs/advanced-configuration) which is then pick up by CRA here: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/scripts/start.js#L60

This is why it works.

When you use the function format of CRACO devServer, sadly, the function is executed

[2020-07-03 06:21] DamonMuscle commented on #172
Hi @patricklafrance

Thank you for your reply.

[2020-07-03 07:19] bihongbin3027 commented on #140
- module.exports = {
-     webpack: {
-     configure: {
-       output: {
-         path: path.resolve(__dirname, 'dist'),
-         filename: '[name].js',
-       },
-     },
-   },
- }

[2020-07-03 19:21] #155 closed

[2020-07-05 18:37] #160 closed

[2020-07-07 05:31] satendra02 opened #174 "Running sever in production ENV with craco start"
Here is the full error log on running below command. I using latest version **5.6.4**

**$ NODE_ENV=production craco start**

Please have a look

[code]

[2020-07-07 14:04] patricklafrance commented on #174
Hi @satendra02

Have you tryed posting the issue on https://github.com/DocSpring/craco-less repository? Seems related to the plugin not to the core of CRACO.

[2020-07-08 09:48] AK-101111 commented on #171
Sorry for the late reply.
Based on the docs, they support it.
https://github.com/facebook/create-react-app/blob/master/docusaurus/docs/advanced-configuration.md

[2020-07-09 07:27] LuHugo commented on #168
#175

[2020-07-09 13:41] zmaoo opened #176 "Support happypack"
is threre possible to support happypack?

[2020-07-17 13:42] yuki-93 opened #178 "Question: "allowImportExportEverywhere" from babel-parser not working"
Hey guys,

in my react app, I want to plug in axe for a11y checking only in dev mode:
[code]

So I wanted to try out craco to configure the needed `allowImportExportEverywhere` options from babel-parser, see: https://babeljs.io/docs/en/babel-parser#options
So I came out with this craco.config.js
[code]
But this doesn't seem to work. I still get the error `Parsing error: 'import' and 'export' may o

[2020-07-25 03:40] #164 closed

[2020-08-05 12:50] sntptrck opened #180 "Cant access .env variable in craco.config.js"
For my case i need use CRA env variables (https://create-react-app.dev/docs/adding-custom-environment-variables/) but i dont see any REACT_APP variables in process.env (but correctly works in app, not in config)

[2020-08-05 13:36] mr-kings opened #181 "add webpack configure is not success"
add webpack configure is not success
configure: (webpackConfig, { env, paths }) => {

      webpackConfig = {
        ...webpackConfig,
        devtool: useSourceMap ? 'source-map' : 'none' ,
      }

      const oneOfRules = webpackConfig.module.rules.find(item => item.oneOf);

      oneOfRules.oneOf.push({
        test: lessRegex,
        exclude: lessModuleRegex,
        use: getStyleLoaders(

[2020-08-08 02:01] ranisalt commented on #162
@stefansandulescu can you give more information if you fixed the issue?

[2020-08-09 22:15] LuisRodriguezLD commented on #171
@AK-101111 Can you share your craco settings? I can't get the Fast Refresh to work

[2020-08-10 02:53] dustinlacewell opened #183 "Babel plugins not applying to Jest"
I have
[code]
in my `craco.config.js` and this allows me to properly build my project. However, when I run `npm run test` I get the following error:
[code]
What do I need to do so that the Babel plugin is used in the context of testing?

[2020-08-10 10:55] robmarshall opened #184 "Using babel enviroment variables"
I am looking to implement [babel-plugin-react-remove-properties](https://www.npmjs.com/package/babel-plugin-react-remove-properties) but the CRACO config file only seems to mention added babel plugins directly into the babel plugin array. Doesnt seem to add plugins depending on the environment.

The plugin installation shows applying only to production as so:

[code]

Is this possible with CRACO?

[2020-08-11 12:08] robmarshall commented on #180
My issue is a little like that: https://github.com/gsoft-inc/craco/issues/184 Cannot work it out.

[2020-08-12 16:09] heny opened #185 "postcss Configuration does not take effect"
Hello, I did not work normally according to the following configuration, please help to check，thinks
[code]

[2020-08-12 16:10] heny commented on #185
Used to configure AutopreFixer

[2020-08-12 17:28] #165 closed

[2020-08-16 09:43] stefansandulescu commented on #162
Hello,
I haven't fixed this. I ended up compiling the library.

[2020-08-17 13:36] nicobrinkkemper opened #186 "Include information on where contributors can submit their new plugin"
I have skimmed the wiki but I couldn't find a place to submit the plugin I recently made. You can find it here
https://github.com/nicobrinkkemper/craco-csv-loader

It has been working out great for me in combination with `react-snapshot` to have a no-config (ok, a little bit of craco config) SSR setup, having a simple spreadsheet as data.

EDIT: Also, I would love some feedback on it. I might've m

[2020-08-17 15:42] robmarshall commented on #184
Anyone able to point me in the right direction? Or where to go to find this out?

[2020-08-20 02:16] DavidLozzi opened #187 "It appears npm run is ignoring my eslintrc file with create-react-app"
This has been working great for the last couple of years, but we just upgraded a slew of libraries and now eslint, when we run our app, is not referring to our eslintrc file. It's throwing errors for rules that we have either disabled or set to warning. I can type junk into the eslintrc file and nothing errors on build.

The ESLint extension in VSCode does recognize it and running eslint CLI works

[2020-08-25 11:26] stevensacks opened #188 "postcss-modules causes craco to hang indefinitely"
[code]

Any idea why I can't use postcss-modules? Does it conflict with React's CSS Modules?

Specifically, I want to have the kebab-case-classes in a style.module.css file to be available as camelCaseClasses when imported into a React component. I can't figure out how to do this.

[2020-08-26 07:49] EggTronic opened #189 "[Build Failed] error errno ENOENT"
Hi, I failed to build react app on my remote Linux instance with Graco.
I can build without problem on my windows PC.

Here is the error information
[code]

[2020-08-26 09:09] EggTronic commented on #189
It looks like I was running out of memory

[2020-08-26 09:31] #189 closed

[2020-08-26 14:50] spautz opened #190 "Async config overrides"
### Problem
My config override uses a library that returns a promise. The promise eventually resolves with the values I need, but craco processes the config immediately, without waiting for the promise.

My specific case looks like this:
[code]
(I know https can also be configured via environment variables, but that doesn't work well for my case.)

### Possible solution
I was able to make this wor

[2020-08-27 13:43] cdosborn commented on #187
I tested this workaround with 5.6.4:
[code]

[2020-08-28 19:34] #170 closed

[2020-08-29 21:15] Invertisment opened #191 "Can't ignore IDE's lock files in `yarn start` watcher"
Hey.
I have a problem that `Webpack` doesn't pick up `watchOptions` config.

I want to ignore temporary lock files that are created with my IDE (Spacemacs).
`yarn start` (`craco start`) crashes when I edit a watched file or start the server after this crash.

This is the way that I'd like to solve the problem (author adds in-depth details): https://github.com/facebook/create-react-app/issues/9056#

[2020-08-31 11:38] bard commented on #171
Apparently not in the released create-react-app yet: https://github.com/facebook/create-react-app/issues/8678#issuecomment-636839360

[2020-09-04 03:29] #166 closed

[2020-09-05 00:43] sarahhenkens commented on #143
I had a similar need today and the following config does not work, it still emits the hot-update files:
[code]

[2020-09-08 08:27] GunB opened #194 "Using html-webpack-plugin and favicons-webpack-plugin but not working on index.html"
Hello and thank you for reading this.

So, I want to use the combination of html-webpack-plugin and favicons-webpack-plugin to inject the manifest and different resolutions of favicons into my app.

I'm trying with this configuration

[code]

And the test is resulting in weird unexpected results. In the documents admin and admin2 the results are the ones expected but on index, seems like my plugin

[2020-09-09 14:26] #172 closed

[2020-09-12 14:37] #174 closed

[2020-09-14 10:11] #168 closed

[2020-09-14 19:54] #176 closed

[2020-09-15 20:26] Bnaya opened #197 "Using as express middleware, feature idea + wip + ongoing issue"
# First, thank you for this amazing project!

**background**
On dev time, I want my backend express server to load CRA as middleware,
So i don't need to spawn 2 servers, also it will be more similar to the prod scenario.

I saw that Craco has an api to generate the webpack config, so i've created this naive code, that actually mostly works, and the react app dose load.

The issue is with the webso

[2020-09-20 22:42] richardaum commented on #162
Is there any way to do it without compiling the library?

[2020-09-21 17:31] franxois commented on #171
craco doesn't support yet cra@next (v4) but you can have fast refresh using a plugin

[2020-09-22 01:18] Techiu opened #198 "how to access custom variables ( defined in .env ) in craco.config.js ?"
I want to change the @antd-prefix in CracoAntDesignPlugin, like below:

[code]

REACT_APP_ANTD_PREFIX is already defined in .env, but I got ```undefined``` here. Is there any way to get the right result ?

[2020-09-22 07:26] PhoenixSlade opened #199 "how can i use 'webpack.ProvidePlugin' like this"
I want to use like 'webpack.ProvidePlugin', what can i do?

[2020-09-23 00:36] #178 closed

[2020-09-24 02:07] wabi91 commented on #187
@cdosborn 👍
It's also working with 5.6.4 :
[code]
I changed and use your code because arguments of configure value function are not used and necessery.

[2020-09-27 15:22] Stancobridge commented on #68
I just got this error please what is the configuration u used

[2020-09-27 22:02] #190 closed

[2020-09-27 22:10] #144 closed

[2020-09-28 02:37] vjpr opened #200 "TypeError: rules.some is not a function"
[code]

Should there be a guard against this...or I am doing something wrong...

[2020-09-28 08:11] wangweijia commented on #140
@mraak
how to fix?

[2020-09-28 15:35] robmarshall commented on #184
Hey. Me again - wondering if anyone has ever done this? Or knows who to speak to?

[2020-10-09 12:45] chungweileong94 commented on #187
Some of the ESLint related package version might conflict with the one came with CRA, which might result in faulty ESLint result, you might want to double-check with the version you have with the one CRA required.

Alternatively, I create a [plugin](https://www.npmjs.com/package/craco-eslint-webpack-plugin) recently to basically replace the CRA eslint-loader(deprecated) with eslint-webpack-plugin,

[2020-10-11 14:19] #181 closed

[2020-10-13 06:19] ajaij commented on #58
@patricklafrance how do I access the variables inside my .env inside craco.config.js ?

[2020-10-13 10:14] ajaij commented on #180
Am facing the same problem, has anyone figured a way on how to pass dotenv values inside craco.config.js ?

[2020-10-13 11:14] ajaij commented on #198
@patricklafrance am also facing this issue, any solution for this ?

[2020-10-14 01:35] Techiu commented on #198
In my situation, REACT_APP_ANTD_PREFIX is not related to different environment, so I placed it into the package.json file instead.

So, in a tricky way. You can set different key in package.json. And use WhenDev or WhenProd in craco.config.js to access different value.

[code]

[2020-10-14 20:35] banagale opened #201 "Downstream Effects of a CRA Webpack 5 Release"
I was looking to build a plugin in craco and was curious if someone with expertise could gauge the potential impact of a forthcoming create react app reworked for Webpack 5.

It doesn't seem like the release is impending, but it would be good to have some idea on how much that might change craco, if at all.

Here's [a PR for the webpack 5 in cra](https://github.com/facebook/create-react-app/pull/7

[2020-10-16 17:24] #183 closed

[2020-10-18 19:54] #185 closed

[2020-10-19 18:29] Ray-B opened #202 "Node 10.x requires more memory or it will crash - How to Configure Craco?"
Hi,

It's common with many newer node 10 applications that make use of webpack compilation will require more space during compilation that the default provided by node (512mb).

Is there a way to tell craco to set node options? I have not found an obvious and documented way. Setting additional flags on craco did not seem to work either, e.g. `craco --verbose --max-old-space-size=2048`

Currently,

[2020-10-20 07:08] DeeeeLAN opened #204 "Add support for NextJS"
Hi,

Maybe this will already work out of the box. NextJS has their own build scripts, but being react under the hood, I imagine it would be simple to add support, if it doesn't already exist. I didn't see any mention of NextJS yet though.

[2020-10-20 08:40] ajaij commented on #198
@Techiu thanks for the suggestion, here I have placed the config in my .env file and am trying to access the value inside craco.config.js like  the below.

[code]
In this case am still getting undefined in the console, are you getting the value by any chance ?

[2020-10-21 10:54] ajaij commented on #126
@scorsi may I know how are you able to access "REACT_APP_FOO" from `.env.development` ? when importing inside craco.config.js am getting `undefined` as response.

[code]

[2020-10-21 11:06] ajaij commented on #58
@patricklafrance @abenhamdine how can I access the variables in my .env from craco.config.js ? Currently am getting the value as undefined.

[code]

[2020-10-21 11:10] scorsi commented on #126
Hello @ajaij, this was pretty old :)
I don't use it inside `craco.config.js` or imported js files (NodeJs part), I used it directly in the React code (the front part).

If you want to import the variables inside of theses craco files, you should import them directly. Maybe this package may help you : https://github.com/sholladay/envy or https://github.com/motdotla/dotenv

[2020-10-22 00:21] banagale commented on #180
@ajaij Not sure if this will help you but see this discussion on env var usage: #116

[2020-10-22 06:32] ajaij commented on #126
got it @scorsi am facing issue using when am trying to use it inside the craco.config.js file, thank you for taking your time to respond to my query.

[2020-10-22 07:12] ajaij commented on #180
@banagale thank you for trying to help me out, in my case the values are located in .env file & not in package.json like below.

[code]

[2020-10-23 17:05] JanJakes opened #205 "Support CRA v4"
**CRA v4** was just released: https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md

I gave it a quick try and I'm getting the following error at the moment:
[code]
(Didn't dig further into it though.)

[2020-10-23 19:05] patricklafrance commented on #205
I guess a few things will break since a project like this is a major hack which break easily.

I will not personally invest time to support CRA v4 since I am not personally using it anymore. We do have a few projects at GSoft using CRACO so I still hope that someone from one of these teams will jump in to support CRA 4 but as of now, no one is willing to do it.

I will gladly review a PR if anyone

[2020-10-24 01:40] #186 closed

[2020-10-24 02:37] patricklafrance commented on #186
Hi,

Sorry for the late reply.

You can add the plugin to this project README file.

Thank you

[2020-10-24 04:59] littlee opened #206 "How to add options to style-loader"
I'm trying to add options to `style-loader`, this is my `craco.config.js`

[code]

but I get this error after running `craco start`

[code]

[2020-10-24 10:24] pbr1111 commented on #205
The eslint-loader has been deprecated in favor of eslint-webpack-plugin, so it should be able to configure the plugin via the plugins property. The error is informative and even if we do not have any eslint configuration in the craco config it is displayed because by default the eslint property is filled with these values:
[code]
Maybe it would be necessary to remove the default configuration of e

[2020-10-24 13:16] nicobrinkkemper commented on #186
https://github.com/gsoft-inc/craco/compare/master...nicobrinkkemper:patch-1

[2020-10-25 16:29] chungweileong94 commented on #204
The purpose of this project is not for React, but create-react-app in particular, since CRA is lack customization in many ways. If you compare CRA with NextJS, NextJS already provides tons of customizations.

[2020-10-26 12:29] iwan-uschka commented on #205
I just read the whole thread so i am aware of

but just want to put some extra bits in here. I just gave `react-scripts@4.0.0` a try and ran into the following issues:
- `cannot find module 'levenary'` => could be solved by manually installing `levenary`
- cannot resolve static files like fonts => https://github.com/facebook/create-react-app/issues/9870

I didn't notice any `ESLint` related error.

[2020-10-26 14:57] patricklafrance commented on #205
Is eslint the only thing that breaks with `react-scripts@4.0.0` ?

[2020-10-26 15:26] Thanaen commented on #205
@patricklafrance I personally get another error, with CRA v4:

`X:\xxx\node_modules\react-scripts\scripts\test.js:20
  throw err;
  ^

Error: craco: Cannot find Jest transform entry for Babel ^.+\.(js|jsx|ts|tsx)$ or ^.+\.(js|jsx)$.
    at configureBabel (X:\xxx\node_modules\@craco\craco\lib\features\jest\merge-jest-config.js:35:27)
    at mergeJestConfig (X:\xxx\node_modules\@craco\craco\lib\feat

[2020-10-26 15:39] pianomansam commented on #205
As there appear to be many issues with CRA v4, this bug report might be best broken out into individual reports to track the progress in fixing each.

I myself ran into the issue of changes to eslint due to the deprecation of eslint-loader. Specifically, my config disables eslint. I came up with a quick inline plugin to honor the `eslint.enable: false` setting.

[code]

[2020-10-26 21:58] justrealmilk commented on #205
I have the same issue as OP but I'm not as smart as the rest of y'all so I'm rolling back to 3.4.4 until...

[2020-10-29 14:58] mormahr commented on #205
I submitted a PR to fix this. (#207)

[2020-10-30 09:07] redaben opened #209 "Craco / Ant Design : Replacing Moment By Dayjs Configuration"
I'm trying to add a webpack plugin to Craco but I'm not sure if I'm doing it the right way.
`const CracoLessPlugin = require('craco-less')
const AntdDayjsWebpackPlugin = require('antd-dayjs-webpack-plugin')`

[code]
Any ideas on the correct config ? thx

[2020-10-30 18:08] david-soyez commented on #55
If you want to work you have to do this:

- First try console.log in your code because in chrome dev tools it will return undefined.
- Second, put everything under process.env otherwise you will get a compilation error.
- Or use dotenv-webpack instead

[code]

[2020-10-31 14:34] #188 closed

[2020-11-02 11:18] robmarshall commented on #198
I think I have found a solution: Use whenDev/whenProd: https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#when-whendev-whenprod-whentest

[2020-11-02 11:19] robmarshall commented on #184
I think I have found a solution: Use whenDev/whenProd: https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#when-whendev-whenprod-whentest

[2020-11-02 11:41] robmarshall commented on #184
[code]

[2020-11-02 11:41] #184 closed

[2020-11-02 22:45] DeeeeLAN commented on #204
Ah, okay that makes sense. It is true that the next.config.js is really awesome, you can override most of what you would need.

[2020-11-02 22:45] #204 closed

[2020-11-03 09:04] Thanaen commented on #209
Hi ! You might want to take a look at this project: https://github.com/DocSpring/craco-antd

[2020-11-03 09:07] Thanaen commented on #209
Here's my setup for craco + antd + dayjs:

`const CracoAntDesignPlugin = require('craco-antd');
const AntdDayjsWebpackPlugin = require('antd-dayjs-webpack-plugin');

module.exports = {
  plugins: [
    {
      plugin: CracoAntDesignPlugin,
    },
    {
      plugin: new AntdDayjsWebpackPlugin(),
    },
  ],
};
`

[2020-11-04 16:13] AoDev opened #211 "Getting "does not contain a default export" for various libs with yarn workspaces (question)"
First of all, this is a really weird issue and I don't understand how craco is related to it.

I have followed [this tutorial "Using Create-React-App In A Monorepo"](https://medium.com/frontend-digest/using-create-react-app-in-a-monorepo-a4e6f25be7aa).

My goal and config is just made to transpile code from another package.

The moment I launch apps with craco, I am getting `does not contain a def

[2020-11-05 00:40] #191 closed

[2020-11-05 06:35] wojtow commented on #205
First of all, per the changelog on CRA v4, it may well be necessary to blow away your  node_modules and let yarn/npm rebuild it all.    For me, that fixed several of the  issues I was experiencing.

Secondly, make sure you're placing the blame appropriately.   Some of the issues you may be experiencing here are the result of the CRA v4 upgrade itself and not necessarily craco having issues with it

[2020-11-05 11:02] iwan-uschka commented on #205
I could solve [my issue](https://github.com/gsoft-inc/craco/issues/205#issuecomment-716514987)

like described in https://github.com/facebook/create-react-app/issues/9870#issuecomment-722300637.

Can confirm `craco:  *** Cannot find ESLint loader (eslint-loader). ***` issue but it doesn't affect the app itself.

[2020-11-06 05:37] wabi91 commented on #180
@ajaij
Are you coding on window OS?

It's really weird that i get the same issue with you, but other developer who coding with mac and install same versions of craco, cra doesn't get the issue.
I'm suspecting it is an OS problem.

[2020-11-06 07:37] ajaij commented on #180
Hey @wabi91 am using mac, I have not tried in windows OS though.

[2020-11-06 18:08] devinrhode2 commented on #205
@patricklafrance If you aren't using CRA anymore, what are you using?

[2020-11-06 20:46] patricklafrance commented on #205
@devinrhode2 nothing, I have been developping full time a UI component library for the last year. The project I was working on are still using CRACO!

Sorry for the confusion.

[2020-11-06 22:16] wabi91 commented on #180
@ajaij
Even though you are trying in Mac, it's really weird that it doesn't work. In my case, i had same versions of react-script and craco and same craco.config.js, Mac worked and Windows didn't work, so I doubted it.

Did you try below 2 list?
1. make craco config file clean > check REACT_APP_ prefix variable
[code]

2. reinstall npm after delete node_modules and package-lock.json

[2020-11-10 19:44] ricardocanelas commented on #211
I think it's `include.concat([absolutePath])` _with parentheses_

[2020-11-10 19:46] AoDev commented on #211
wow, could be the issue actually, missed that typo.

[2020-11-11 09:36] ajaij commented on #180
hey @wabi91 I tied your steps, am still getting undefined.

these are the versions I have
[code]

[2020-11-11 18:59] NiloDrumond opened #212 "Eslint plugin (@typescript-eslint) not working as intended with craco"
I started using craco because normal CRA doesn't work with paths aliases anymore, but I've faced a few problems.

1-  I use the plugin @typescript-eslint, but when I run craco start my eslint configs doesn't work as intendend. What do i mean by that? For example, I have disabled the rule "camelcase", but i was getting Failed to Compile because of @typescript-eslint/camelcase, so I had to disable t

[2020-11-12 04:47] wabi91 commented on #180
@ajaij !?! Why do you use CRA4?
Have u checked [this issue about supporting cra4](https://github.com/gsoft-inc/craco/issues/205#issuecomment-715528156) ?

I'm not sure, carco its working with cra4
and in my case,
after trying this and that, i finally gave up and upgraded to CRA4 and abandoned CRACO.....

[2020-11-12 16:57] RainnyX commented on #209
@redaben Running into this issue, nothing is working here so resulted to manually creating the components i need according to the documentation of replacing Moment.js

@Thanaen your solution does not work for me :/ I wonder why as i'm not getting any visible errors and the plugin seems to load in correctly

[2020-11-13 00:48] TC-mSundaram commented on #212
@NiloDrumond I think I was having similar issues and what solved it for me was downgrading to

[code]

which I found here - https://stackoverflow.com/a/63862578

I believe that this is fixed in the latest create-react-app / ESLint, but Craco is not up to date yet.

[2020-11-13 12:23] Manny91 commented on #212
Hey @TC-mSundaram, @NiloDrumond , just wondering if you did manage to get the rules defined in eslintrc.js when building with craco?

I'm doing
[code]
and doesnt really pick up the rules 😕

[2020-11-13 12:27] Manny91 commented on #187
Hey @wabi91  and @cdosborn

I'm using   ```"@craco/craco": "5.6.4",```
and doing the same as you guys
[code]
and seem to be ignoring my rules defined in eslint 😕 is there anything else I need to do?

Thanks!

[2020-11-14 11:59] liao02x commented on #212
Try adding `EXTEND_ESLINT=true` in your env file

[2020-11-14 14:41] #194 closed

[2020-11-16 11:41] namnm commented on #198
Try: Install `dotenv` then add `require('dotenv/config')` at the top of your craco.config.js

[2020-11-16 11:44] namnm opened #213 "Add support for .cracorc and .cracorc.js"
It would be nice if we can add support for dot files like `.cracorc` and `.cracorc.js` so it will match with the other convention like `.prettierrc` `.eslintrc` `.babelrc`

[2020-11-16 13:39] NiloDrumond commented on #212
@Manny91

First, is you eslintrc on the parent folder? because your import is "../.eslinrc" not "./.eslinrc".
Second, try setting "configure" like i did ` configure: () => customESLintConfig,`

[2020-11-16 13:50] NiloDrumond commented on #212
Didn't work :/

[2020-11-17 06:19] ajaij commented on #180
@wabi91 I downgraded the versions to the following

[code]

event then am getting the same undefined issue.

Luckily **Nam Nguyen** has suggested a solution for my question in this thread https://github.com/gsoft-inc/craco/issues/198 which resolved my undefined issue.

[2020-11-17 06:20] ajaij commented on #198
Thank you @namnm your tip resolved my undefined issue, thanks a ton.

[2020-11-18 08:27] devuxer commented on #205
I am using TypeScript@4 and started having problems with react-scripts@3.4.4. I traced the problem to react-scripts depending on very old versions of @typescript-eslint/*, which were choking on some of the newer TypeScript features, so I tried upgrading to react-scripts@4.0, and now I find I'm not able to use CRACO (due to same error as OP). I need CRACO for Ant Design. So, all I can say is, I'm d

[2020-11-18 10:21] kkulbae commented on #205
The eslint-loader has been deleted from create-react-app

https://github.com/facebook/create-react-app/commit/d07b7d025f5933710fcb01718617dbdf4bc54c33

Now eslint is being delivered through [eslint-webpack-plugin](https://github.com/webpack-contrib/eslint-webpack-plugin/tree/v2.1.0), not eslint-loader.

[2020-11-18 14:47] vjpr commented on #200
`Rule.use` must be an array or a function https://webpack.js.org/configuration/module/#ruleuse

[code]

[2020-11-18 14:47] #200 closed

[2020-11-19 10:33] Manny91 commented on #212
@NiloDrumond  yes it is in the parent folder thats why I changed the import route, tried as well leaving the function for the configure and it resulted the same thing, none of those worked for me :/

[2020-11-19 19:36] christianbpedersen opened #214 "watchOptions lost"
Hi!

Using craco start webpack, and trying to get watchOptions - specifically interval and ignored - to get from the craco.config.js webpack session to the actual underlying webpack-dev-server, but the watchOptions (even through it will throw and error if I make a typo to one of the settings, so something IS validating them properly) are not carried through to the Server.js in webpack.

`module.ex

[2020-11-20 03:37] xxyGoTop commented on #181
mark

[2020-11-20 03:38] xxyGoTop commented on #181
how to do?

[2020-11-20 06:29] nmorozov commented on #183
@dustinlacewell Hi. I faced the same problem. I use linaria and CracoLinariaPlugin (it includes babel preset) and it works for project build, but not for tests. How did you resolve this problem?

[2020-11-21 16:13] iwan-uschka commented on #205
@kkulbae Thanks for the information, wasn't aware.. I researched how to solve this issue and i could find this plugin https://www.npmjs.com/package/craco-eslint-webpack-plugin but wasn't able to make it work. It somehow broke my whole craco configuration. What did you do?

[2020-11-21 23:04] #197 closed

[2020-11-24 09:04] Thanaen commented on #209
@RainnyX @Yrobot When you say it doesn't work for you, what do you mean? How do you see that it doesn't work? 😊

[2020-11-24 14:18] david29832 commented on #205
it may be not the best syntax but i got it working with this:
[code]

[2020-11-24 14:20] sahilpurav opened #215 "Update the postcss to v8 for Tailwindcss 2.x support"
Tailwindcss requires postcss v8 and craco uses postcss v7.

Upgrading the tailwindcss to 2.x gives the following error:

![image](https://user-images.githubusercontent.com/8158506/100106096-21aaaf80-2e8e-11eb-8d43-fcd3a69ed342.png)

I've the following configuration in:

**postcss.config.js**
[code]

**craco.config.js**

[code]

[2020-11-24 14:51] sahilpurav commented on #215
Closing this as this has to be done by CRA not craco.

[2020-11-24 14:51] #215 closed

[2020-11-25 11:09] JanJakes commented on #205
Everything works for me with Craco 5.8.0 and CRA 4.0.1 (including custom path aliases).
There is only the eslint warning (doing no harm).
Should I close this issue already?

[2020-11-25 11:11] threepointone commented on #205
Yeah it's all working pretty well! But imho we should look to remove the eslint warning before closing this issue.

[2020-11-25 11:12] threepointone commented on #205
I'll try to investigate this myself over the christmas break if no one else has a crack at it before then.

[2020-11-25 15:10] danielknell commented on #43
I hit problems with Craco and storybook last night so built an experimental preset based on preset-create-react-app to use the webpack  config from Craco instead of pulling it directly from react-scripts.

This means any Craco plugins, changes postcss plugins, manual webkit tweaks, etc will also be applied to storybook.

Its a bit hackey at the moment and calls out to internal apis inside preset-c

[2020-11-25 21:23] threepointone commented on #201
This guide would be relevant as and when it does https://webpack.js.org/migrate/5/
This is the main create-react-app issue tracking the changes being made https://github.com/facebook/create-react-app/issues/9994

[2020-11-26 09:20] Kilims opened #217 "How to import antd and antd-mobile in the same cra project ?"
How to import antd and antd-mobile in the same cra project ?

any chance that could share the carco.config.js file ?

currently my carco.config.js is looking like this :

[code]

it could work well with antd customized theme with less vars (all go along exactly the same with the official website set up)

[2020-11-26 18:14] Rocinante89 commented on #205
Anyone using craco workbox plugin? Mine seems to have stopped generating a service worker after the update to 5.8.0 & CRA 4.0.1?

[2020-11-27 08:43] JanJakes commented on #205
So I run into an issue – the eslint config seems to no longer work:
[code]

I achieved the same using an inline plugin as follows:
[code]

[2020-11-28 02:51] #171 closed

[2020-11-28 08:20] #199 closed

[2020-11-28 08:59] threepointone opened #218 "create-react-app/craco as dependencies"
craco
---

We started using craco simply to get a working product, and it's done us well so far. Of note, it lets us easily override `react-scripts`' webpack and jest configurations for our needs. We don't use any of its other features, and don't expose it for further modification. That means there's an opportunity here for use to remove craco altogether and write own own layer for interfacing/ove

[2020-11-28 09:00] #218 closed

[2020-12-05 21:56] sethreidnz opened #221 "Typescript app giving "Cannot find ESLint loader (eslint-loader)" error"
I have just created a new project you can [find here](https://github.com/sethreidnz/craco-typescript-eslint-issue-repro/tree/master) and I get the following error flash up real quick before going to the usual create-react-app build message.

![image](https://user-images.githubusercontent.com/4713713/101266007-40734500-37b0-11eb-87c7-68c565998f04.png)

The above project all I've done is create a ne

[2020-12-05 22:41] alexasselin008 commented on #221
Hi Seth,

You can read more on this issue here : https://github.com/gsoft-inc/craco/issues/205

Craco doesn't fully support react-scripts 4.0.0 just yet. There is a couple workaround mentionned in the linked issue.

Hope this helps

[2020-12-05 23:06] sethreidnz commented on #221
Dang I see. Yeah it seems to work, but then in a CI/CD environment it blows up. I am just going to wait because I'm just playing around with some side projects with this so no stress.

Thanks for the fast response this is a cool tool! I haven't touched create react app in about a year and this makes it so you can actually get everything you want going on, but not have to maintain a webapck build o

[2020-12-05 23:06] #221 closed

[2020-12-06 00:49] a-guerrero opened #222 "How to add style loader nonce attribute"
Hi, I'm trying to add the [style loader nonce attribute ](https://webpack.js.org/loaders/style-loader/#nonce) example like this:
[code]
but that's not working. Is there a way to make this work? I also played around with the craco `style` property but to be honest I didn't know how to fit this in there.

[2020-12-06 04:17] patricklafrance commented on #222
Try with

[code]

[2020-12-06 04:19] patricklafrance commented on #222
Should also work with

[code]

[2020-12-06 19:44] a-guerrero commented on #222
Nope 😕,  with `webpack.configure` nothing happens, I don't get the `nonce` attribute in the style elements. And with `styles.css` I get this error:
[code]

[2020-12-06 20:22] patricklafrance commented on #222
Oh right you want to add it the `style-loader` not the `css-loader`.

You can output the resulting webpack config with [CRACO API](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#api) and see if your nonce is added.

Internally CRACO use [webpack-merge](webpack-merge) to support `webpack.configure` so I guess it might to be something that is not supported by the package.

Y

[2020-12-07 23:36] #213 closed

[2020-12-08 16:02] patricklafrance commented on #205
Merged this PR https://github.com/gsoft-inc/craco/pull/219 from @alexasselin008 which fix CRACO ESLint feature for CR4 🥳

It's released with https://github.com/gsoft-inc/craco/releases/tag/v6.0.0

While discussing this PR, we decided it was best if CRACO only support the latest MAJOR version of CRA to simplify the maintenance of CRACO and it's api.

@alexasselin008 added a validation which run whe

[2020-12-08 16:10] patricklafrance commented on #205
I'll close this issue, feel free to re-open if we forgot something!

[2020-12-08 16:10] #205 closed

[2020-12-09 08:20] justrealmilk opened #225 "CRACO, worker-plugin, and, react-refresh-webpack-plugin"
I'll start by being honest - I'm not sure which repo this issue truly belongs to but I'll start here.

I use CRACO to achieve a few things, including enabling web workers.

This is my config prior to react-scripts 4. Worked great
[code]

Since updating everything, I've encountered some issues.

![image](https://user-images.githubusercontent.com/156681/101603256-24d88c00-39b4-11eb-921d-4123cec7bfb8

[2020-12-10 08:52] mkms1104 commented on #44
webpack v5 best answer

... in backtick

=> minimizer: [`...`, new OptimizeCSSAssetsPlugin({})]

[2020-12-10 12:34] unzico commented on #225
Did you upgrade react-scripts to v4? Because create-react-app offers Fast Refresh [out of the box](https://github.com/facebook/create-react-app/releases/tag/v4.0.0) since v4 ([PR](https://github.com/facebook/create-react-app/pull/8582)). Not sure, if this fixes your issue, but you should be able to remove any configuration related to Fast Refresh.

[2020-12-10 12:39] unzico commented on #217
I've created a [project](https://github.com/unzico/cra4-ts-antd-sass), which uses antd together with cra a long time ago. Not sure, if it still works, but it may help you. It basically just uses [craco-antd](https://github.com/DocSpring/craco-antd) to make things work. Good luck!

[2020-12-10 20:52] justrealmilk commented on #225
Of course - CRACO 6 requires react-scripts 4.

[2020-12-11 23:17] AoDev commented on #211
I will close this issue, I managed to make the changes I needed but with a different config. I think you were right and the typo was causing the issue. Thanks for your work.

[2020-12-11 23:17] #211 closed

[2020-12-14 02:24] chungweileong94 commented on #212
Based on my experience, it's because CRA by default came with a specific version of `@typescript-eslint/eslint-plugin` & `@typescript-eslint/parser`. So if you install a different version, you will notices that the CRA ESLint will fail to pick up any rules regarding the typescript-eslint.

You might want to check the dependencies of `react-script` and see which version it actually uses.

[2020-12-16 03:58] jiangyh1024 opened #226 "Question about CRACO"
I'm developing a react project created by CRA and I want to integrate Tailwind css into it.

According to the documentation of Tailwind css

![image](https://user-images.githubusercontent.com/34930870/102303067-598caa80-3f95-11eb-9944-83367f02d97e.png)

and I found the webpack.config.js in react-scripts
![image](https://user-images.githubusercontent.com/34930870/102303115-74f7b580-3f95-11eb-866e-7

[2020-12-17 00:00] stoplion opened #227 "Moving package.json / NODE_MODULES up a level?"
Is it possible to move package.json / NODE_MODULES up a level and config craco?

Use case:
have two folders..

`/client`
`/server`

There are a lot of shared deps between the two, so I move package.json / NODE_MODULES up a level to root.

But getting a..
[code]

[2020-12-23 23:46] stoplion opened #229 "Dotenv file in parent dir?"
[code]

The client is the React app, and server is ExpressJS.

They share the same env vars.

At the top of the React app I have..

[code]

But no environment variables load.

Is there a way to load env vars from `.env` from React's parent dir?

[2020-12-26 02:48] #202 closed

[2020-12-31 10:41] #206 closed

[2021-01-04 06:03] changhui3067 opened #231 "How to remove the html-webpack-plugin"
hello there, i want my project build result is a js entry file instead of a html entry.
it seems that i need to remove the html-webpack-plugin which is added by default, so... is there any way to remove the plugin in craco config?

[2021-01-04 06:37] changhui3067 commented on #231
i think this pr will resolve my question https://github.com/gsoft-inc/craco/pull/224

[2021-01-04 06:37] #231 closed

[2021-01-05 11:18] chshouyu opened #232 "Is there any way to pass --max_old_space_size option to start command?"
like this question: https://stackoverflow.com/questions/44046366/increase-javascript-heap-size-in-create-react-app-project

[2021-01-10 23:10] v12golfcart opened #233 "Using craco with create-react-app in production on heroku fails"
Context:
+ I'm newer to Craco, so apologies if any of these are dumb questions!
+ I've been using TailwindCSS and followed their instructions precisely on setup, located here [https://tailwindcss.com/docs/guides/create-react-app](url)
+ I'm trying to deploy a simple static website powered by React via Heroku using Craco+Tailwind

**Issue**: Both dev and production builds work locally, but the mome

[2021-01-11 00:48] v12golfcart commented on #233
https://medium.com/jeremy-gottfrieds-tech-blog/tutorial-how-to-deploy-a-production-react-app-to-heroku-c4831dfcfa08

NVM, basically fixed it via this.  This was more a heroku problem of serving the dev app instead of build.

[2021-01-11 00:48] #233 closed

[2021-01-12 12:24] thany opened #234 "Support babel-loader 8.2.2"
craco demands babel-loader 8.1.0, which is upgraded by installing Storybook 6.1.

[code]

`npm ls babel-loader` proves it:

[code]

The workaround is to add `SKIP_PREFLIGHT_CHECK=true` to the `.env` file, which may cause other problems to go unnoticed in the future. So it's not a great workaround, not only because it hides other potential bugs, but also because it is easily forgotten.

Upgrading t

[2021-01-13 09:32] shrekuu commented on #143
@sarahhenkens  Me too!  😅

I tried:
[code]

still not working.

[2021-01-14 20:39] davetapley opened #235 "Be able to use TypeScript for / in craco.config.js"
I would like to load a `.ts` file in `craco.config.js` so I can use some strings for a [`InterpolateHtmlPlugin`](https://www.npmjs.com/package/interpolate-html-plugin).

Am I correct in thinking this is currently imposible?

Naively I'd change my `craco.config.js` to `craco.config.ts`, but I presume that would involve a lot of work? 😬

[2021-01-18 06:48] spartakb commented on #104
Replying to an old thread here, but the following approach worked for me so maybe it will help someone searching for an answer in the future.

[code]

PS: Any unexpected issues I should be aware of with this approach?

[2021-01-19 16:43] threepointone commented on #234
I believe this was fixed in storybook 6.1.2, so I'd recommend upgrading that instead?

[2021-01-20 11:29] igorkis-scrts opened #236 "How can i merge these two configure props in webpack config override (craco.config.js)?"
Hello! Sorry for bothering and asking silly questions, but i'm making my first steps in overriding CRA without ejecting and i'm confused - **how to have one `configure` property instead of two ones (as on example below)?**

Example:
[code]

[2021-01-20 12:04] igorkis-scrts commented on #236
Nevermind.

[2021-01-20 12:04] #236 closed

[2021-01-20 13:21] #187 closed

[2021-01-21 21:17] n8jadams opened #237 "Set cookie in Craco app?"
Hello, I have a fairly minimal Craco override that I'm using.

[code]

Why isn't this cookie being set when I open the localhost url for the Craco app? Is `webpack.headers` not the right place to do this override?

[2021-01-21 22:41] n8jadams commented on #237
I was close. The correct way to do this was like so:

[code]

[2021-01-21 22:41] #237 closed

[2021-01-22 06:48] devGitAbhishek opened #238 "@craco runs babel everything beneath a package."
Hi I have a app which is created using CRA, it is a monorepo and has many other app which are created using CRA. In my config file I have provided the absolute path for one of the packages under monorepo but I see it runs through every package.

Reason I am noticing this is the package which was ran through babel via config of craco was successfully rendered in client, but ideally shouldn't react

[2021-01-22 06:51] devGitAbhishek commented on #238
@patricklafrance

[2021-01-23 12:04] #180 closed

[2021-01-23 12:04] #198 closed

[2021-01-25 14:35] ghost opened #239 "How can I hash multiple class names with localIdentName?"
I don't want to rewrite the same content. I mentioned my problem here please check it out

[webpack-contrib/css-loader](https://github.com/webpack-contrib/css-loader/issues/1252)

[2021-01-25 21:45] trickpattyFH20 commented on #58
https://github.com/djdmbrwsk/dotenv-cra

[2021-01-25 21:52] trickpattyFH20 commented on #180
I used [this library](
https://github.com/djdmbrwsk/dotenv-cra) as a solution.

[code]

https://github.com/djdmbrwsk/dotenv-cra

[2021-01-26 17:33] #214 closed

[2021-01-27 18:59] floviolleau opened #240 "externals React, CDN loading React error"
Hi,

I face to the same issue described here: https://github.com/facebook/create-react-app/issues/10364

Can someone have look?

Thanks

[2021-01-27 22:23] alexasselin008 commented on #159
Hi @etylsarin, you might want to take a look at the new craco version! https://github.com/gsoft-inc/craco/releases/tag/v6.1.0

[2021-01-27 22:25] alexasselin008 commented on #231
Hi @changhui3067 , you might want to take a look at the new craco version! https://github.com/gsoft-inc/craco/releases/tag/v6.1.0

[2021-01-27 22:25] jlpanetta1681 opened #241 "Craco command silently fails on start"
Inherited a project that uses Craco as a bridge for use with less files
installed the node_modules and reinstalled them removing the lock file multiple times
on start — craco just doesn’t want to run.
screen shot included of the terminal after running npm start

@Ryan Hamblin can provide additional help or info as well

![Screenshot (126)](https://user-images.githubusercontent.com/66652502/1060621

[2021-01-27 23:44] patricklafrance commented on #241
You can try starting craco with `--verbose`.

https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#debugging

[2021-01-28 03:16] jlpanetta1681 commented on #241
Thank you much for being available to lend an idea.. started with verbose nd no change. still no error, n browser, nothing..

[2021-01-28 06:55] devGitAbhishek commented on #238
any update on this?

[2021-01-28 08:24] TomaszG commented on #159
@alexasselin008 could you provide an example of how to use it, please? I couldn't find any and documentation doesn't clearly say what should be put in `add`, `remove` arrays.

[2021-01-28 13:06] patricklafrance commented on #159
It’a documented here https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#configuration-file

[2021-01-28 16:53] floviolleau commented on #240
Answered in the other issue

[2021-01-29 03:18] NobleJohnnie opened #242 "Webstorm cannot find module, which file could be as the webpack config file in Webstorm?"
Webstorm Settings - Language & Frameworks - Javascript - Webpack - webpack configuration file
Which file can be used here?

[2021-01-29 10:43] #240 closed

[2021-01-30 00:19] #159 closed

[2021-01-30 23:05] ghost opened #243 "How can I do this with Craco?"
I want to remove the definition of "this.webpackJSONp" when it comes out to the product environment. How can I do this with Craco?

[2021-01-31 00:18] #209 closed

[2021-02-01 11:16] gupta-ji6 commented on #155
See [this](https://github.com/facebook/create-react-app/issues/5306#issuecomment-695173195) comment by @leoloso as well.

[2021-02-02 09:54] etylsarin commented on #159
Hi @alexasselin008 thanks for letting me know! :)

[2021-02-02 10:20] AndrewCraswell opened #244 "Webpack plugins don't get added"
Craco: `6.1.0`
CRA: `4.0.1`

I've recently tried to add the [`CspHtmlWebpackPlugin`](https://github.com/slackhq/csp-html-webpack-plugin) to my `craco.config.js` file in order to dynamically inject a Content Security Policy into my site only during production builds. It seems the plugin is not being added correctly, and a number of other plugins I've tested don't get added either. This is especiall

[2021-02-02 11:44] shaoyanmin commented on #104
@spartakb you should return `webpackConfig` in the end of the function. Then it works for me, thank you.

[2021-02-02 14:58] alexasselin008 commented on #244
I'll look into it, and come back to you soon

[2021-02-03 03:12] alexasselin008 commented on #244
@AndrewCraswell your repro case doesn't look like it have craco. Is it possible you forgot to push some of your code?

[2021-02-03 09:37] AndrewCraswell commented on #244
@alexasselin008 Sorry about that, I've just pushed an update

[2021-02-03 12:28] b-zurg commented on #244
I am having the same issue. Additionally remove is not working for me.

[2021-02-03 15:04] alexasselin008 commented on #244
@AndrewCraswell
Are you running npm run start or npm run build?

I looked at your sandbox and it should work fine if you use build.

I created a file outputWebpackConfig.js

[code]

then i ran the following command line :
[code]

The script console logs the webpack config, where you can see the plugins and both plugin are added.

@b-zurg would you mind detailing your issue a bit more?

[2021-02-04 03:09] AndrewCraswell commented on #244
@alexasselin008 Thanks for the `outputWebpackConfig.js` script, that's a great utility for testing! The weird thing is the discrepancy between what Craco is reporting is in the config, and what's actually being executed. When you run `yarn build` you can verify that the CSP the plugin should inject into the `index.html` file is never added.

[code]

However, if I eject, and add the same plugin in

[2021-02-04 03:12] AndrewCraswell commented on #244
As an aside, there's also some wonkiness with the Craco `remove` plugin functionality. Take for example this config:

[code]

My expectation is that this would remove the `HtmlWebpackPlugin` which comes default with CRA, then add the `HtmlWebpackPlugin` and `CspHtmlWebpackPlugin` plugins. What actually occurs is that the no instances of `HtmlWebpackPlugin` make it into the config at all.

[2021-02-05 19:07] vjsingh commented on #155
@gupta-ji6 Is this working in CRA 4? It's not working for me (commented on that thread as well, but realized it may be a craco issue and not a CRA issue).

[2021-02-06 05:50] AndrewCraswell commented on #244
It's hard to tell if this is a problem with Craco, or with `HtmlWebpackPlugin`. With more testing, I found that any plugin that requires `HtmlWebpackPlugin` doesn't work when added via the Craco config. But it does work if `ejected` and added to the Webpack config directly.

The only way I've been able to get these plugins to work from the Craco config is by (1) removing the `HtmlWebpackPlugin` pl

[2021-02-06 19:06] AndrewCraswell commented on #244
This the fix that enables a workaround is merge, I'm going to close this. I suspect the issue is related to weirdness in the `HtmlWeboackPlugin` module. This theory is slightly confirmed seeing that Craco has its own plugin which wraps `InterpolateHtmlPlugin` and has to do special work to get it to function as expected.

[2021-02-06 19:06] #244 closed

[2021-02-07 12:55] x1mrdonut1x opened #246 "Terminal compilation warnings"
Since I moved my project to craco, I stopped seeing warnings when compiling my React code.

Is it possible to compile the project and see warnings in the console?

When setting rules to "warn" in .eslintrc.js, the project compiles with no warnings whatsoever but when changing the "warn" value to "error", I get a "Failed to compile" error, as expected.

`craco.config.js`:
[code]

[2021-02-07 22:21] alenvlahovljak opened #247 "Cannot use env variables withing CRA"
[code]

I cannot get this env variable via:
`console.log(process.env.REACT_APP_NOT_SECRET_CODE);`

[2021-02-08 19:48] vjsingh opened #248 "Building app into single js file not working"
Based on:

https://github.com/facebook/create-react-app/issues/5306#issuecomment-695173195
https://github.com/gsoft-inc/craco/issues/155

See this repo: https://github.com/vjsingh/craco-test

When you run `npm run-script build` in that repo, you get two JS files instead of one:

[code]

[2021-02-09 13:04] chencozocaru opened #249 "plugin"

[2021-02-09 13:04] #249 closed

[2021-02-11 11:03] M0hammedImran commented on #247
I'm trying to use tailwind, their installation page had me replace craco with CRA, I had few environment variables which are not being read and ```craco start``` is failing with error.  I'm using typescript, so it's very strict.

[2021-02-11 15:39] vjsingh commented on #248
I have no idea why, but the below code seems to fix it for me
(full disclosure: using `react-app-rewired` and not `craco`)

[code]

From: https://medium.com/swlh/bootstrapping-complex-chrome-firefox-edge-extensions-with-create-react-app-667be8df35d7

[2021-02-11 21:16] gespispace opened #250 "How to add ifdev-loader?"
if add before babel i was get error and after babel also a error of build.

can you add example with ifdef-loader?

[2021-02-13 10:47] #222 closed

[2021-02-13 22:04] Tvlasev opened #251 "Error when running yarn start"
I'm getting an error when I run yarn start - UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_ARG_VALUE]: The argument 'id' must be a non-empty string. Received ''

Hare is my package.json file:

![image](https://user-images.githubusercontent.com/40581749/107862811-1dbc7700-6e58-11eb-83a5-7e566d03fac1.png)

[2021-02-14 04:18] InnovativeCoder commented on #251
Same, with npm start. Moved back to 6.0.0 and now it works fine.

[2021-02-14 19:40] Tvlasev commented on #251
Yes, I have tried that but no results.

1. I removed the carco - yarn remove @craco/craco
2. Added 6.0.0 verison - yarn add @craco/craco@6.0.0

I have tried with 5.9.0 and 5.8.0, even I removed node_modules folder and the yarn.lock file, run yarn install, but I got the same error upon start

[2021-02-15 07:25] yomybaby commented on #251
Don't forget to make `craco.config.js` file. 😉

[2021-02-16 18:30] Tvlasev commented on #251
yep... I did create a file but it wasn't in the root directory, but in the src folder. I moved it and it works, thanks : )

[2021-02-16 18:30] #251 closed

[2021-02-18 19:48] codinghedgehog-python opened #252 "Craco build fails"
Hi, I was hoping to get some feedback on failing of the command `craco build`:

output:

[code]
Does this output mean that my `index.html` is invalid ?

[2021-02-20 03:16] DavidHooper commented on #232
I've been using this for years now. Most tools won't have a way to add arguments into the node exec command.

`NODE_OPTIONS=--max_old_space_size=8192 craco start`

[2021-02-20 09:47] socketpair commented on #75
@patricklafrance Just WHERE to write this ?!

[2021-02-20 11:23] socketpair commented on #90
So just how to tune options of ts-loader using craco ?! in 2021 ?

[2021-02-20 11:55] socketpair commented on #117
Hey, guys. Is the bug fixed ? @patricklafrance @novascreen

[2021-02-21 15:42] #217 closed

[2021-02-21 15:42] #212 closed

[2021-02-21 22:53] #226 closed

[2021-02-22 13:52] #227 closed

[2021-02-22 22:27] MikeProcudin opened #254 "Async LoadCracoConfig failing on build"
Hey, maybe I am missing something

the change from here #190 is breaking the build on my side,

craco.config.js
![image](https://user-images.githubusercontent.com/19872423/108778303-12a2ce80-755d-11eb-8766-6c3790cd5adc.png)

error on craco build
![image](https://user-images.githubusercontent.com/19872423/108778246-03238580-755d-11eb-824e-deceb0042739.png)

[2021-02-22 22:28] MikeProcudin commented on #254
Sorry, using wrong npm version

[2021-02-22 22:28] #254 closed

[2021-02-25 18:31] TrofinSorin opened #255 "Craco not working after update"
![image](https://user-images.githubusercontent.com/43543139/109199579-4aea1d00-77a8-11eb-8809-9ca6bab742b8.png)

"@craco/craco": "^6.1.1",
"craco-alias": "^2.1.1",
"cross-env": "^7.0.3",
 "react-scripts": "^3.4.4",
 "react": "^17.0.0",
 "react-dom": "^17.0.0",

@craco/craco": "^5.6.4", It works with this version but.. i want all latest updates to work.

I tried even upgrading to react scripts 4.0.

[2021-02-26 21:21] JoshuaPoddoku opened #256 "Craco needs to be updated"
After installing craco, `npm i @craco/craco`

These are the deprecations encountered
![image](https://user-images.githubusercontent.com/31725457/109356362-9b47a480-78a6-11eb-9bc5-3ad38d6c58d7.png)

[2021-02-27 21:33] patricklafrance commented on #256
I doubt all those dependencies belongs to craco.

[2021-02-27 21:39] patricklafrance commented on #255
We don't support react-scripts 3* anymore.

I don't know how you upgraded to react-script 4.0.0 but we read CRA version from react-script package.json file and throw an error if it's lower than 4.

If you still have the error, my guess is there is a problem with your installation.

[2021-02-28 22:19] stefann01 opened #257 "Usage with rollup for creating react libraries"
Is there a way that this package can be used in a rollup configuration file?

[2021-03-01 15:28] patricklafrance commented on #257
I doubt it, it's build around webpack for webpack.

[2021-03-02 00:01] davesag commented on #247
I just tried this out myself as I am evaluating `craco` and having environment variables not work would be a major showstopper.  Thankfully I am not seeing this issue.  I have tried both with variables defined in `.env` file and also passed in directly, as well as set at the shell level.  They all work fine so I suspect your issue is in your `craco.config.js` file and not `craco` itself.

[2021-03-02 06:13] davesag opened #258 "Getting error "Cannot find module 'webpack/lib/InitFragment'""
I'm trying to use craco to get my app to ignore my fixture data if there is a live API server running.  I've created the following `craco.config.js` file

[code]

but when I run `npm start` I get the following error

[code]

What am I doing wrong?

[2021-03-02 14:59] floviolleau commented on #252
Hi,

Seems that you have a merge conflict in one of your files.

Search `<<<<<<<` in your code

[2021-03-02 15:16] floviolleau opened #259 "Error: Callback was already called."
Hi,

I have a small issue.

When I run start, all is good and the page opens in my browser.

If I modify some code in my src folder, the start suddenly fail with this error:
[code]

I need to manually restart the start and it takes time for each modification.

<details>
  <summary>Here is my craco config (click to expand)</summary>

[code]
</details>

Any ideas?

Thanks

[2021-03-03 06:23] davesag commented on #258
Noting that CRA internally uses `webpack@4.42.2` I also tried simply installing that as a dev dependency but I get the same result.  Looking into `node_modules/webpack/lib/` there is no `InitFragment`. But what I did notice is that there is an `IgnorePlugin` in `node_modules/webpack/lib/` so I've updated my config to

[code]

it appears to work.

[2021-03-03 06:23] #258 closed

[2021-03-03 19:32] #229 closed

[2021-03-05 14:24] learnpardha opened #260 "craco ssl ciphers and secureoptions not workign in craco.config.js file1"
Hi all,

I have enabled https on my devserver it is working fine but recently our security team asked to add secureoptions and disable weak ciphers . The below mentioned configuration is not working.

Please advise how can i set secureOptions , ciphers inside devserver in craco.config file

Is that possible? if yes please let me know. Pardon my ignorance
 module.exports = {
  devServer: {

    htt

[2021-03-06 18:55] justrealmilk opened #261 "Default ESLint config example"
I'd super benefit from a solid example of an ESLint config - I'm sure I'm not alone as ESLint is hard at the best of times.

I'm currently using...
[code]
And it appears to deactivate like... All rules... And I've just been working like this for weeks now because I gave up jumping through hoops! 😂

[2021-03-08 15:47] patricklafrance commented on #261
Of course, is this something you could submit a PR for? It could be a new [recipe](https://github.com/gsoft-inc/craco/tree/master/recipes), something like "extend-eslint-config".

[2021-03-10 09:12] StarpTech opened #263 "Is postcss.config.js ignored by craco?"
Hi, it looks like that `postcss.config.js` isn't loaded when running `craco build`. Is it supported?

[2021-03-10 22:54] patricklafrance commented on #263
It's supported if you specify in your `craco.config.js` file:

[code]

https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md#configuration-file

[2021-03-11 00:07] kintz09 commented on #251
I had this same issue. Didn't even notice I added it to the src folder by accident. Thanks for the info!

[2021-03-11 08:08] StarpTech commented on #263
Great, thank you!

[2021-03-11 08:13] StarpTech commented on #263
Unfortunately, this doesn't work I got the error:

[code]

I have a `postcss.config.js` in the same directory where I start craco.

[2021-03-12 12:04] JaapWeijland commented on #66
Is this implemented? I don't see a mention in the docs how the overwrite the entry point.

[2021-03-12 14:27] ViniDalvino opened #265 "I am confused on how to setup a minimizer"
I am trying to setup craco to use the closure webpack plugin with the `AGGRESSIVE_BUNDLE` option however I am confused on how to setup it.

To setup the plguin I do this, right?
[code]

but where will I add the options

[2021-03-12 15:25] ViniDalvino commented on #265
I think I need to do this:
[code]
however I am not sure it use the closure compiler to minify my production build.

am I doing the right thing?

[2021-03-15 06:21] socketpair commented on #250
He means https://www.npmjs.com/package/ifdef-loader

@gespispace please provide an example of config or so, and exact error text.

[2021-03-16 13:46] andreboyko commented on #246
I have same situation. I set EXTEND_ESLINT=true in .env file and have eslintConfig entry in package.json, but no warnings in craco start terminal.

[2021-03-17 18:24] #255 closed

[2021-03-18 23:35] kintz09 opened #266 "css-loader exportLocalsConvention (formerly localsConvention) not working in CRACO config. Wanting to convert kebab to camelCase"
I'm trying to implement the [set-css-loader-locals-convention](https://github.com/gsoft-inc/craco/blob/master/recipes/set-css-loader-locals-convention/craco.config.js) recipe and I'm getting an error hoping someone can guide me to fix.

Implementing the recipe as shown here:
[code]
produces the following compiler error:
[code]
<img width="828" alt="image" src="https://user-images.githubusercontent

[2021-03-21 02:36] hhhapz opened #268 "Use Webpack Loader via Craco"
Hi all, I am using a webpack loader that I created with craco, however, I am unsure as to why exactly is not working as I would expect it to. I would appreciate if you guys can help me out :)

[Here](https://github.com/teamortix/golang-wasm/blob/master/src/index.js) is my webpack loader.

Here is how I am using it in my craco project:
[code]

And here is what I am doing quickly to test it via reac

[2021-03-22 16:26] mateuswolkmer opened #269 "Can't import other project's component"
I'm having an issue importing a component from one React project into another. The problems seems very basic but I'm having a really hard time figuring out where the problem is and what is the exact craco configuration to achieve my goal, and at this point I'm considering it can be a bug in craco.

Both projects are using craco, and this are their configurations:

**Exporting project**

I'm export

[2021-03-22 19:17] yordis opened #270 "TypeError: Cannot assign to read only property 'paths' of object"
Hey folks, by any chance do you know how to fix this? I would like to setup an alias, but the issue is that my `tsconfig.json` can't set the aliases, so I am wondering if there is a workaround for the issue

[code]

[code]

### Setup

[code]

[code]

[2021-03-23 10:01] kcubero27 commented on #247
Any updates?
I'm having the same issue and I believe that the issue is coming from craco.
I have a .env file that contains a REACT_APP_VARIABLE=foo and in a console.log(process.env) this variable doesn't appear.

[2021-03-25 00:53] paulwongx opened #271 "How To Minify Classnames?"
I'm confused how to use the css minification options in craco. Putting the settings below (separately) doesn't apply the minification to my css:

[code]

[2021-03-25 11:01] hhhapz commented on #268
EDIT: I can get it to work when I call `import go from 'golang-wasm!./path/to/go/file'` however not when I do `import go from ./path/to/go/file'`

[2021-03-25 13:44] PiotrKozlowski commented on #143
I've tried different combinations of these settings, but it still didn't work:
[code]
 I'm using `react-scripts@3.4.4` and `@craco/craco@5.8.0`

 I'll just try forking `react-scripts` as advised in [the documentation](https://create-react-app.dev/docs/alternatives-to-ejecting)

[2021-03-25 16:19] mstelz opened #272 "Use --selectProjects option with Jest"
Using Craco I am attempting to utilize the Jest's [selectProjects](https://jestjs.io/docs/cli#--selectprojects-project1--projectn) cli option to invoke a specific defined project within the configuration.

Using this as the _craco.config.js_
[code]

And then in my _package.json_ I am defining the following scripts:
[code]

But it appears it cannot find a configuration as it throws the following er

[2021-03-26 09:08] floviolleau commented on #259
Hi,

After leaving this annoying issue, I started again to research ... and I finally found the issue. It was because of SpeedMeasurePlugin.

If you remove it, all is back to normal now...

[2021-03-26 09:08] #259 closed

[2021-03-26 09:27] partoneplay opened #273 "less-loader support please"
The `craco-less` `craco-antd` project is almost dead.

I read doc [less-loader](https://www.npmjs.com/package/less-loader#lessoptions) and my `craco.config.js`：

[code]

But it does't work.

I must use `craco@^6.0.0`

[2021-03-26 11:31] #235 closed

[2021-03-26 11:34] toxsick commented on #263
@StarpTech are you working in a monorepo / with workspaces? If yes, try putting the `postcss.config.js` in the root of the monorepo. This works for me in combination with `mode: POSTCSS_MODES.file`.

But I would be interested how to make this work when the config is located inside the monorepo package folder, because I have a situation where the global config interferes with the configuration of a

[2021-03-26 11:40] StarpTech commented on #263
Thanks for the tip! Nevertheless, it's still a bug because it should work on the package level. A package is not aware of the workspace.